[2018-11-20 12:26] nchv opened #1 "Disable tracking through push notifications"
Based on [comment](https://news.slashdot.org/comments.pl?sid=12891238&cid=57632532) from [article about Firefox price tracking feature](https://news.slashdot.org/comments.pl?sid=12891238&cid=57632532):
[code]

[2018-11-20 12:27] nchv opened #2 "Useful site following the changes of flags in Firefox versions"
https://cat-in-136.github.io/

[2018-11-20 13:39] #2 closed, assigned to nobody

[2018-11-20 17:28] #1 closed, assigned to nobody

[2018-11-20 17:29] intika commented on #1
permissions.default.desktop-notification could be set to 2 to automatically deny access without enforcing all those settings

[2018-11-22 15:19] Thorin-Oakenpants commented on #1
Permissions API can leak default states adding to FP'ing. It is better to leave camera, mic, location, notifications all at default ask (and for any regular site that really causes prompt fatigue for an end-user, they can use a site permission override)

[2018-11-22 15:40] intika commented on #1
Yes indeed default state is leaked, but we want to to be less unique possible for fingerprinting following the new resistFingerprinting... i guess blocking completely notification is a state in it self so its the same at the end of the day.

[2018-11-22 15:57] intika commented on #1
https://www.bennish.net/web-notifications.html

[2018-11-22 16:30] anchev commented on #1
Is that possible with `javascript.enabled=false`?

It's quite ironic that you shared a link to a page with tracking script on it :)

[2018-11-22 16:50] intika commented on #1
apparently it is not without js

[2018-11-22 16:59] Thorin-Oakenpants commented on #1
I'm not 100% sure, but push notifications require workers (or service workers). I wouldn't mind clarifying that point for my sanity. Yup, it requires JS.

from [here](https://github.com/ghacksuserjs/ghacks-user.js/issues/533#issuecomment-439400910)

and here's a pretty picture
![meh](https://user-images.githubusercontent.com/16656956/48915749-b6314000-ee77-11e8-8f6c-a6ff4ea37034.png)

If you devia

[2018-11-22 17:15] anchev commented on #1
Interesting.
Testing with TBB I get the same output.
Testing with ungoogled-chromium (where I have disabled all except sound in `chrome://settings/content`) I get:
[code]
I wonder where the "granted" comes from and whether it is some kind of bug in chrome itself (assuming that the testing method is right).

[2018-11-23 18:38] intika opened #3 "Update all settings description"

[2018-11-23 18:38] intika opened #4 "Add description for disabled (why disabled)"

[2018-11-23 18:39] intika opened #5 "Clean and remove unused settings"

[2018-11-30 11:41] dimqua opened #6 "Privafox ESR?"
How do you feel about creation a Privafox edition based on the current Firefox ESR version? In this case, you can even use Tor Browser as a base of your set.

[2018-11-30 20:29] intika commented on #6
Okay it's not asking a lot i will add windows/linux esr... am not pro tor, but i will have a look at that ;)

[2018-11-30 20:35] intika commented on #5
Done in v2

Now for obsolete settings i wont give a lot of time to them because :

- They may comeback (as firefox did before)
- They are a small portion of privafox
- They don't impact performance

[2018-11-30 20:35] #5 closed

[2018-11-30 20:36] intika commented on #4
Done in v2

[2018-11-30 20:36] #4 closed

[2018-12-01 04:02] intika commented on #6
ESR is coming in v2, and for tor i will not bundle TBB because it's need a lot of work/maintenance to make it efficient, it's better to just use TBB when needing Tor, now... applying Privafox to Tor is not recommended because some settings may be not suitable for TBB

[2018-12-01 04:02] #6 closed

[2018-12-01 09:55] intika opened #7 "Privacy.sanitize.sanitizeOnShutdown mozilla bug ?"
in privafox "privacy.sanitize.sanitizeOnShutdown" is defaulted to true...

when the config file is used normally with `pref("privacy.sanitize.sanitizeOnShutdown", true); ` the setting is not applied

when used with mozilla.cfg the setting is enforced BUT its value is string type even if it's set true without quotes... (but the setting work even if its a wrong var)

to be able to default this setti

[2018-12-01 10:35] intika commented on #7
solved with defaultPref

[2018-12-03 05:36] intika opened #8 "Android version..."
Add android version

[2018-12-12 01:47] dimqua opened #9 "Firefox EME-free"
I think it's a good idea to recommend EME-free builds for Windows and macOS instead regular ones.

They can be found here, for example: https://ftp.mozilla.org/pub/firefox/releases/64.0/

[2018-12-12 13:06] intika commented on #9
The thing is as i observed on other similar browser a lot of user asking for widevine for netflix or so... indeed eme is disabled by default in librefox... but i would like to leave the choice for the user to enable it back thus using an eme version would not be suitable, never the less its disabled by default... and i added on my local readme a how to enable it back... (will update online version

[2018-12-12 13:06] #9 closed

[2018-12-13 03:37] aydybb opened #10 "May we have 32-bit version releases?"
I noticed that all releases can only work on 64-bit platforms, but sometimes we may have to run firefox on 32-bit ones. It would be prefect if Librefox can run on 32-bit OSes!

[2018-12-13 10:57] intika commented on #10
I thought i can skip this lol
okay i will add 32bit on next release its for soon :)

[2018-12-13 19:02] aydybb commented on #10
That's great!

[2018-12-13 19:02] #10 closed

[2018-12-16 16:53] mikroskeem opened #11 "Grammar mistakes"
This makes project unappealing for new users. Just saying :smile:

[2018-12-16 16:58] mikroskeem commented on #11
Some examples:

* This project aim to fix privacy and security issues related to firefox without **loosing** performances nor forking the project.
* **performances** settings
* Additional **filter** are available

etc.

[2018-12-16 17:09] Thorin-Oakenpants commented on #7
Nope. It works as advertised from a user.js. I just tested in a nilla FF65. I did change to custom settings in Options>Privacy & Security>HIstory>Firefo will use<custom settings> so I could see the "clear history when firefox closes" was unchecked.

Added the following user.js

[code]

Closed and reopened FF, and the value true was applied in about:config (and in prefs.js), and the parrot worked a

[2018-12-16 21:47] antuketot76 opened #12 "VirusTotal/Hybrid-Analysis Result (Same as Firefox)"
Below are some my analysis inside HA and VT.

![image](https://user-images.githubusercontent.com/33280865/50059168-b8f92980-01c6-11e9-988e-9bff421d78e5.png)

Hybrid Analysis - [HERE](https://www.hybrid-analysis.com/sample/f5ac46627e42272c261779f4987e5df1bf8c1a0ca8eb637f4f380c6f79dc6e16/5bfa9e527ca3e11c6f0f99d5)
VirusTotal - [HERE](https://www.virustotal.com/#/file/f5ac46627e42272c261779f4987e5df1b

[2018-12-16 22:22] Zig-03 opened #13 "Wouldn't gitlab be more appropriate for a "libre" project?"

[2018-12-17 01:54] asddsaz opened #14 "How to install on Debian?"
**Question**: Which files do I need to execute to install/run?
(sorry for noobish-ness)

[2018-12-17 07:45] intika commented on #14
Just use the "Privafox-1.8-Firefox-Linux-63.0.3.tar.bz2" Extract it and launch firefox from inside the extracted directory or create a shortcut let me know if you need help

[2018-12-17 07:45] #14 closed

[2018-12-17 07:48] intika commented on #14
To be more precise download
Privafox-1.8-Firefox-Linux-63.0.3.tar.bz2 (The new version is coming today or tomorrow, you will then need Librefox-2.1-Firefox-Linux-64.0.tar.bz2)...

1. Extract the archive like any compressed file (right click and extract or open it with ark)
2. Inside the extracted files (folder) double click on firefox...
3. You can create a shortcut to that firefox fire in your de

[2018-12-17 08:06] intika commented on #11
Thank you for the feedback it's appreciated... v2 is taking me a lot of time... i just get it done locally today... it will be published today or tomorrow... English is not my first language i am trying the best i can to make the readme as correct as possible, half of what you cited is already corrected in my local version, i will indeed correct what's remaining from your list.

If you have a litt

[2018-12-17 08:35] intika commented on #12
Those files are coming from the official Mozilla Firefox built, as the project is young i am not distributing a built from sources version.

Those files are signed with mozilla certificates.

You will get the exact same result with the official Firefox files because they are the same not modified you can try that out [Firefox Setup 63.0.3.exe](https://download-installer.cdn.mozilla.net/pub/firefox

[2018-12-17 08:37] intika commented on #12
I forget thank you for contributing and reporting back this it's appreciated :)

[2018-12-17 08:43] intika commented on #7
Yes i did checked also in ghack script and found it working it's why i did not report it back...
Indeed i encountered about 4 or 5 similar cases while enforcing/defaulting settings in the cfg file... it's one of the reason v2 is delayed... but i figure it our finally :)

[2018-12-17 08:54] intika commented on #13
Thank you for your contribution :)

Can you please develop ?

In my point of view both are US Companies and in both cases you don't have access to their server so i don't see the advantage to move to gitlab. almost nothing in the cloud is "Libre"

[2018-12-17 09:01] intika commented on #11
I changed `official firefox set for a better privacy, security and performances` to `official firefox with a better privacy, security and performances` can you please develop what was the mistake ?

[2018-12-17 09:19] Zig-03 commented on #13
Thank you for your reply :)

What do you mean?

gitlab is FOSS and anyone can also host his/her own instance - https://gitlab.com/gitlab-org/gitlab-ce
So as you can see, this is already a lot more than what github can offer to any foss enthusiasts. Thanks a lot :)

[2018-12-17 09:52] Thorin-Oakenpants commented on #7
Do you mind sharing those troublesome prefs and what you ending up using? As you can see I started a sticky so we can keep track of these sorts of things

[2018-12-17 11:05] mikroskeem commented on #11
You're welcome, I'll take a look at v2 once it's released and when I have time. :smile:

In my opinion (and few others) given sentence was badly worded and hard to understand.

[2018-12-17 12:01] intika commented on #13
Was just asking for explanations about your point of view... you already did :)

So as you can see, this is already a lot more than what github can offer to any foss enthusiasts. Thanks a lot :)

Yes i know but this project is not yet the kind of self hosted project, until then it live here :D where it can reach some peoples ^^

Even if its FOSS i think it's just a marketing thing, after all the f

[2018-12-17 20:12] intika commented on #7
Done ;) https://github.com/ghacksuserjs/ghacks-user.js/issues/601

[2018-12-17 20:12] #7 closed

[2018-12-17 20:39] intika opened #15 "Add appimage version..."

[2018-12-18 04:12] brainscar commented on #15
I found this tutorials useful:

https://github.com/AppImage/AppImageKit/wiki/Creating-AppImages

[2018-12-18 05:02] brainscar commented on #11
I made same spelling changes, feel free to copy :-) I can't submit a pull for some reason.

https://github.com/brainscar/Librefox-Firefox/commit/75ff40466e5b92ae65245971c2ee9d411a1eeed9

[2018-12-18 05:09] brainscar commented on #11
Github is malfunctioning on my computer, so I put some spelling changes here:

https://www.diffchecker.com/EqeYzO6D

[2018-12-18 14:02] mikroskeem commented on #11
@brainscar can you provide that diff somewhere so one could apply it using e.g `git diff`?

[2018-12-18 15:36] intika commented on #15
Thanks :) a lot for your contribution !
i am already building AppImages for other projects like ([Ungoogled-Chromium](https://ungoogled-software.github.io/ungoogled-chromium-binaries/)) it should be fine to do that for librefox... the only question i am asking my self is as everything will be packaged AppImages users can not edit locked settings

[2018-12-18 22:34] brainscar commented on #11
👍

https://github.com/brainscar/Librefox-Firefox/blob/master/README.md

[2018-12-18 22:44] brainscar commented on #12
@intika is right.

It goes like this:

Firefox Setup 63.0.3.exe > setup.exe (in tmp) > system.dll and nsExec.dll

I have uploaded them here (from the official Mozilla build) :

https://www.virustotal.com/#/file-analysis/YjU1ZjdmMWIxN2MzOTAxODkxMGMyMzEwOGY5MjkwODI6MTU0NTE3MzAxOA==

https://www.virustotal.com/#/file-analysis/MTdlZDFjODZiZDY3ZTc4YWRlNDcxMmJlNDhhN2QyYmQ6MTU0NTE3MzA0Nw==

Nothing we ca

[2018-12-19 02:54] intika commented on #11
Woups i already applied the changes... it does a matter i will PR your version any way :) :+1:

[2018-12-19 03:07] intika commented on #12
Closing this as wontfix... thanks again for taking time for the report

[2018-12-19 03:07] #12 closed

[2018-12-19 03:11] intika commented on #13
Closing this for the moment i will let you know if changes occur ;)

[2018-12-19 03:11] #13 closed

[2018-12-19 03:21] intika commented on #3
http://kb.mozillazine.org/About:config_entries

[2018-12-21 03:07] Riajyuu opened #18 "Librefox HTTP Watcher Shouldn't Have Colorized Search Box"
STR:
1. install Librefox HTTP Watcher and navigate to an HTTP site.
2. use `Ctrl` & `F` to toggle the search box.

Actual Result:
the search is now colorized as well as the address box.

[2018-12-21 13:49] intika commented on #18
Okay i will look into that, i hope there is a css propriety for that...
thank you for reporting the issue ;)

[2018-12-21 14:00] intika commented on #11
Changes have been done, closing this.
thanks you a lot for your contribution

[2018-12-21 14:00] #11 closed

[2018-12-21 15:46] intika commented on #10
it's done x32 releases are now available for Linux and Windows ;)

[2018-12-21 15:50] intika commented on #6
Finally dropped this never ending release and you have an ESR and **TBB** :D version :) this is beta for TBB right now we will see how things go

[2018-12-21 16:16] intika opened #20 "Librefox logo..."
Design a Librefox logo to replace the temporary one on this page

[2018-12-21 23:18] Riajyuu commented on #18
@intika
a reminder: Firefox will also color it red if the search terms can't match anything.

[2018-12-22 05:10] dimqua opened #21 "Duplicate README.md section"
It seems that "Apply Librefox Manually" section is a duplicate of "Building And Packaging".

[2018-12-22 16:00] dimqua opened #22 "Portable versions"
Is it possible to make portable versions for Windows?

[2018-12-22 19:55] intika commented on #21
thanks for reporting fixed in https://github.com/intika/Librefox-Firefox/commit/244d38b6de8d9979a306abdcd34a4516c95457b1

[2018-12-22 19:55] #21 closed

[2018-12-22 19:56] intika commented on #22
No problem, i will add that soon :)
Thanks for reporting.

[2018-12-22 19:58] intika commented on #22
closing this i added it in https://github.com/intika/Librefox-Firefox/issues/15 which is similar

[2018-12-22 19:58] #22 closed

[2018-12-23 09:27] Kcchouette opened #23 "Why "Unrecommended HTTPS-Everywhere" ?"
Hello
Can I know why do you say in your README: "unrecommended https-everywhere"?
You should instead recommend it, no?
Thank you

[2018-12-23 09:58] unixfox opened #24 "Librefox developer edition"
Hello is it possible to have the developer edition for librefox?

[2018-12-23 12:09] s8m commented on #15
For Windows, the PortableApps.com Format (PAF) is much better than AppImage. It is easily upgraded and possible to retain settings, etc. This way Librefox could replace the need for Firefox Portable.

https://portableapps.com/development/portableapps.com_format

Thank you and keep up the good work!

[2018-12-23 12:16] probonopd commented on #15
I think AppImage can do the same, no?

https://docs.appimage.org/user-guide/portable-mode.html

[2018-12-23 12:48] darthoctopus opened #25 "Add deb releases"
Please consider incorporating [Ubuntu's global menubar patch](http://bazaar.launchpad.net/~mozillateam/firefox/firefox-trunk.head/view/head:/debian/patches/unity-menubar.patch) for better integration with desktop environments that support global menus, such as KDE Plasma and MATE or XFCE with the appmenu extension.

[2018-12-23 13:05] Atavic commented on #23
I use the webext smart https revived: https://addons.mozilla.org/en-US/firefox/addon/smart-https-revived/
https://mybrowseraddon.com/smart-https.html
https://github.com/ilGur1132/Smart-HTTPS

It is simple, not as heavy as https everywhere, and a user's click avoids the load of thousand of rules, as in https everywhere.

[2018-12-23 13:06] Atavic commented on #23
I use the webext smart https revived: https://addons.mozilla.org/en-US/firefox/addon/smart-https-revived/
https://mybrowseraddon.com/smart-https.html
https://github.com/ilGur1132/Smart-HTTPS

It is much simpler: a user's click avoids the load of thousand of rules, as in https everywhere.

[2018-12-23 13:06] Atavic commented on #24
Yes, but remember that dev edition has more telemetry enbled.

[2018-12-23 13:08] Atavic commented on #25
I think this should be done by some specific fork.

[2018-12-23 14:17] intika opened #26 "Librefox trademark in releases"
- Change the Mozilla trademark to Librefox in next release
- This include changing the logo
- And using Librefox own user profile

[2018-12-23 14:26] intika opened #27 "Add rpm/deb/pkgbuild releases"

[2018-12-23 15:38] Peacock365 opened #28 "A few ideas for Librefox."
Hello intika,

I found that you have developed this browser which includes the gHacks-user.js. And that's great! We definitely need more browsers respecting user privacy by default. I am currently using this browser along with Ungoogled-Chromium.

Previously, I have used (and contributed some small code snippets to) Waterfox as well, but it seems to be stuck at the Firefox 56 base for too long. No

[2018-12-23 16:40] intika commented on #27
also check "OpenSUSE's kde integration patches"

[2018-12-23 18:47] maxidor opened #29 "Thank You"
This is simply my thank you for making this happen. I've seen Firefox getting worse and worse over time and while I always had to do stuff manually, you provided a fully built and ready-to-go version with so much more than I could ever have done.

**Thank you for caring about privacy**.

[2018-12-23 19:18] dimqua opened #30 "Firefox account feature"
The Firefox Account feature is disabled, could you explain why?

[2018-12-23 21:06] Syenta opened #31 "Hacking Tool and Trojan?"
I've just scanned the latest version and Virus Total presented these issues - https://www.virustotal.com/en-gb/file/0028f58b9498659884f173d995bdbda15c02b91564c8954de321db16f31d688d/analysis/1545598643/

Should we be concerned? If not why not?

Thanks

[2018-12-24 02:41] intika commented on #29
Thank you a lot for your kind words, contribution and feedback it's really appreciated; Mozilla developer are doing an amazing job with the current version of Firefox this is what made me start this project in the first place, so big thanks to them for keeping Firefox alive and evolving... at first i was sad to see the discontinuation of legacy extensions but looking at this after all that time i

[2018-12-24 02:49] intika commented on #24
No problem i will add that for next release :) and let you know here... i guess that x32 developer edition is not needed.

[2018-12-24 02:59] intika commented on #25
I will see what i can do for next release and let you know :)
Thanks for your contribution and feedback.

[2018-12-24 03:09] intika opened #33 "Update contributors listing"
Add new contributors

[2018-12-24 03:31] intika commented on #31
Thank you for your contribution and feedback its appreciated :) :+1:

This is a duplicate of https://github.com/intika/Librefox/issues/12

Tor beta built is a repacked tor built and thus official TBB suffer from the same result

https://www.torproject.org/dist/torbrowser/8.0.4/torbrowser-install-8.0.4_en-US.exe

https://www.virustotal.com/en-gb/file/fcf5578d459ce0f906edcbebbf08a5a9d9e53763945f3960

[2018-12-24 03:32] intika commented on #31
I close this let me know if you need more help or explanations

[2018-12-24 03:32] #31 closed

[2018-12-24 04:20] intika commented on #28
Thanks a lot for your contribution and for taking time to write you message it's appreciated :)
I am also a user (and contributor) of ungoogled-chromium :)

Already removed in Librefox

Already fixed in Librefox

Already fixed in Librefox

Already removed in Librefox (and will be replaced with an **optional** feature in a future version)

    etc. etc. etc.

Already fixed in Librefox

Simplifying

[2018-12-24 04:27] intika opened #34 "Add an advanced settings page"
- Introduce more customization options in the Librefox, possibly via a cooperation with [CustomCSSforFx](https://github.com/Aris-t2/CustomCSSforFx) (Classic Theme Restorer).

- Something similar to `chrome://flags` or equivalent

- Enterprise policies (similar to [enterprise-policy-generator](https://addons.mozilla.org/en-US/firefox/addon/enterprise-policy-generator/))

- Also have a look at https

[2018-12-24 04:30] intika commented on #28
let me know if needed we will reopen this :)

[2018-12-24 06:33] intika opened #35 "Add warning about history and cookies for new users"
Also add install instruction for linux (ubuntu)... windows etc.

[2018-12-24 06:34] elypter commented on #28
shit. that's outright evil

[2018-12-24 06:53] elypter opened #37 "Anti Fingerprinting Strategy"
This is more of a general concept than about a specific fingerprinting method.

The TOR browser and many privacy focused addons attempt to limit the fingerprinting potential by reducing the amount of unique information. however that information in itself can be used for fingerprinting as well and the same is true for a browser with a relatively small user base. this gets even worse if users make c

[2018-12-24 07:40] elypter commented on #28
i cannot stress this enough. the amount of manually repeated work has to be kept as minimal as possible. not only does the time add up over the versions but it is also exhausting, a source of errors, introduces delays and the worst: it becomes obsolete with the next version. i think automation is the most important part of a project like this. forks are a huge waste of effort. its much more effect

[2018-12-24 10:20] Peacock365 opened #38 "(LEGAL) Change about:license text. Change about:rights text."
At the very top of the **about:license** page, one can read the following statement:

_"Binaries of this product have been made available to you by the [Mozilla Project](https://www.mozilla.org/en-US/) under the Mozilla Public License 2.0 (MPL). [Know your rights](about:rights)."_

We need to change the ”Mozilla Project" part to "Librefox Project" or similar, whatever intika has in mind here shoul

[2018-12-24 12:11] intika commented on #38
Thanks you a lot for your contribution and for taking time to locate all the places that need to be updated/changed/patched

i am aware of the problem and this is scheduled for the next release

here https://github.com/intika/Librefox/issues/26 and here https://github.com/intika/Librefox/issues/20

Those are urgent issue and they are the next step in this project :)

Your post will be helpful ;)

[2018-12-24 12:11] #38 closed

[2018-12-24 13:33] dimqua commented on #28
@intika I think that a lot of releases are not needed, for example, you can drop 32-bit support completly.

[2018-12-24 14:07] Peacock365 commented on #28
Agreed. I don't know of any PC or Mac sold since 2010 that does not support 64 Bit. 32 Bit builds can be dropped for good.

[2018-12-24 14:16] Peacock365 commented on #28
@intika

I think CustomCSSforFx, should it be integrated, would have to in the "Customize..." menu which you can access through the hamburger menu: https://3sgkpvh31s44756j71xlti9b-wpengine.netdna-ssl.com/files/2017/09/moz.gif

I imagine that those option could be in the same area as "Title Bar" or "Drag Space". If I were you; I'd introduce scrolling into the bottom area, categorize the myriad of

[2018-12-24 14:45] elypter commented on #28
please no. i have several computers with 32bit cpus which are still in use. since waterfox doesnt have 32bit versions i was happy to see libfrefox offering one. older computers are often owned by a non vocal group of people like relatives who do not use the web as often but got devices from relatives that still fit their needs or people in third world countries. and since the compatibility is alre

[2018-12-24 15:04] dimqua commented on #28
@elypter you can apply Librefox manually for 32-bit Firefox version.

[2018-12-24 15:07] dimqua commented on #23
@Marc05 yes, but only if this site is supported by HTTPS Everywhere.

[2018-12-24 15:12] elypter commented on #28
if it is so easy then why remove it from automated building?

[2018-12-24 16:31] dimqua commented on #30
You can enable this feature, but it doesn't work with the current `mozilla.cfg`.

[2018-12-24 18:37] b16r05 opened #39 "Further addon suggestions"
Add on suggestions [and other privacy related suggestions] mentioned at the following websites for consideration/integration:

Prism Break: https://prism-break.org/en/categories/windows/#web-browser-addons

- Cookie AutoDelete
- Decentraleyes
- HTTPS Everywhere
- Mailvelope
- NoScript
- Privacy Badger
- uBlock Origin

Privacy Tools: https://www.privacytools.io/#addons

- Privacy Badger
- uBlock
-

[2018-12-24 19:50] brainscar commented on #29
Thank you for your hard work @intika

[2018-12-24 20:11] Atavic commented on #31
Both tor browser and librefox are labeled as HackingTool/Tor by a chinese AV. They just label it as Tor. The Trojan.Generic.csqwp label comes from another chinese AV and is the same label they give to torbrowser-install-7.5_en-US.exe, Tor_Browser_v7.0.10.exe and [obfs4proxy.exe](https://www.virustotal.com/en-gb/file/08d0e3fb03bc46b90619f111fd133003da28cf0ad220548e7b094cb05f1962c3/analysis/).

[2018-12-24 20:14] Atavic commented on #31
Long story short, they label Tor as malware (maybe someone told them to do so?) and Librefox happens to fall into the same detection. I think they look at some config file and, if those aren't the same as the ones in an untouched firfox install, that triggers the labeling... just an idea of mine.

[2018-12-24 20:18] Atavic commented on #23
For me it is too heavy, YMMV.

[2018-12-24 20:52] Atavic commented on #39
IMHO Privacy Badger is superseded by ublock origin, [here](https://github.com/uBlockOrigin/uBlock-issues/issues/277) it has been asked:

uBo does more and all the features of PB are included. PB deals with 3rd party tracking only.

^ [Source](https://www.eff.org/privacybadger/faq#Is-Privacy-Badger-compatible-with-other-extensions,-including-other-adblockers)

Also see:
https://github.com/ghacksuse

[2018-12-24 22:33] KOLANICH opened #40 "Sign the distributed package"
Use GPG signatures with sha256 / blake instead.

[2018-12-25 01:39] intika commented on #23
Here is why HTTPS-Everywhere is unrecommended in Librefox:

1. Back when i reviewed HsE it did not block HTTP request every where, as the name could suggest, now it does over the settings (but not by default).

2. It does not work for unknown site by default (site that are not in HsE data base) and there are a lot of them.

3. The extension have way too much authorizations than what it needs (for

[2018-12-25 01:39] #23 closed

[2018-12-25 01:56] intika commented on #23
I am planning to do something for this issue on future release because NoHTTP needs too much interaction in its current state

[2018-12-25 03:57] Marc05 commented on #23
I understand where you’re coming from @intika. I had removed this extension for some time for the same reasons, but I now have it installed again so I’d like to discuss why.

1. Outright blocking HTTP by default at this point would likely mean slower adoption given that it would no longer be a set-and-forget extension which is what I’d wager a significant portion of the userbase does. Having it op

[2018-12-25 06:59] gerroon opened #41 "I cant open Jellyfin pages:("
Hi

Every browser except Librefox can access my Jellyfin (fork of Emby) no problem, but librefox shows me a constant loading circle when I try to open the Jellyfin web page :( The page load seems to take forever and never reaches to the landing page of Jellyfin

I am using LF on Win 10 x64

thanks

[2018-12-25 16:30] dimqua commented on #23
Right, but it does not mean that this type of extensions are better for others, and do their work better in general.

Yes, but uBO is useful even without third-party filterlists.

[2018-12-25 16:49] Marc05 commented on #23
Fair enough. I still think it’s worth including and possibly enabling the block HTTP option by default.

As for the uBO point, a browser is useful even without internet :p

[2018-12-25 17:08] nnebb opened #42 "Videos pause when adjusting volume? (youtube, twitter, etc.)"
Is there an about:config setting that affects this?

[2018-12-25 17:09] samuel8941 commented on #37
It should be noted that fingerprinting is done via scripts, and those scripts are very rare in the wild, and most are blocked by the typical filterlists.

Focus would better be on taking the native Firefox anti-tracking feature and adding a couple of blacklists that include fingerprinting scripts.

[2018-12-25 17:33] dimqua commented on #39
@Atavic

IMHO, uMatrix does this job better, since it can block things that these two addons don't know about.

[2018-12-25 17:39] samuel8941 commented on #39
I don't know where you guys are going with this. What's the point of adding extensions you like to a list?

People are capable of installing the extensions they like. That's what made Firefox big. I don't disagree with a list of good extensions, but maybe you should ask yourself if this is really that relevant right now when thinking about what "Librefox" differentiates from Firefox.

[2018-12-25 17:51] elypter commented on #23
the problem with stored hsts information is that a website can detect the redirect and thus determine its state. if you do this with 20 subdomains you can store 20 bits of information. hence why it is possible to use it as a super cookie.

[2018-12-25 18:25] hubba900 opened #43 "SSL_ERROR_UNSAFE_NEGOTIATION"
Hello,

I can't open legal site like https://flow.polar.com/ and can't change options security.ssl.require_safe_negotiation to false. How I can use my favorite site?

[2018-12-25 18:37] Atavic commented on #39
Suggesting a few extensions may help in debugging issues for those that use them. Regarding  ClearURLs, Clean Links, Skip Redirect and Pure URL I have substituted them with:
https://github.com/tumpio/requestcontrol

[2018-12-25 18:49] Techguyprivate opened #44 "Changed my Default Firefox profile"
1 . I extracted the Librefox-2.1-Firefox-Win-64.0.0-x64.zip to a folder in D drive .

2 . Then I clicked on the setup.exe .

3 . It told me to close my firefox . I knew at this moment it gonna use default firefox profile . So I created      two  firefox profile .  Unhecked " Use the selected profile without asking at start up.

4 . Again clicked on the setup.exe . When installed finished , firefox

[2018-12-25 19:03] elypter commented on #39
these addons are also a source of inspiration for features that could become a browser core functionality. there is a lot of potential for synergies and performance improvements. addons were originally meant as niche additions that only some users need. these addons however add core features from a privacy standpoint. making those work together and possibly integrate better in the future makes a t

[2018-12-25 19:10] elypter commented on #37
lists however will never catch everything and require steady maintenance which is not secure and could come to a halt tomorrow. a systematic counter measure can protect against unknown tracking as well. with some websites using over 100 scripts even if just 1% gets through this means you are getting tracked. it's an arms race and it will only get worse. furthermore, some fingerprinting countermeas

[2018-12-25 19:35] elypter commented on #37
I don't see why you would want to go for anything less than the best privacy you can get without sacrificing security. you talk about a trade off between privacy and usability but you do have that with filterlists as well. no list is perfect and so are no browser counter measures. yet in both everything is fixable. many of those addons have whitelists to avoid problems which essentially are lists

[2018-12-25 22:05] claustromaniac opened #45 "Edit contributors list"
https://github.com/intika/Librefox#about

Yesterday [I said I don't mind being listed in there](https://github.com/ghacksuserjs/ghacks-user.js/issues/542#issuecomment-449774318), but today I noticed that you accept donations, so I take that back. I'm glad that my work helps you and your project, and I'm grateful for your support :heart:, but so far [I've never made a contribution to this project s

[2018-12-26 02:33] junior012 opened #46 "Librefox for android"
Someday we will see the Android version of Librefox?

[2018-12-26 02:35] junior012 commented on #46
?

[2018-12-26 07:18] intika commented on #46
Yes i am working on it

[2018-12-26 07:19] intika commented on #46
closing this as a duplicate of https://github.com/intika/Librefox/issues/8

[2018-12-26 07:19] #46 closed

[2018-12-26 08:51] intika commented on #45
i removed the donation link and updated the about section https://github.com/intika/Librefox#about let me know if i can keep https://github.com/intika/Librefox#comparing-changes-and-updates or if you want any modification to what is written there

[2018-12-26 08:51] #45 closed

[2018-12-26 12:26] samuel8941 opened #48 "General direction of the project"
https://forum.palemoon.org/viewtopic.php?f=4&t=21123&sid=75f9612f87b1ee17fa26e4a237c8c696#p158485

The palemoon creator took his time to list a couple of problematic things about this project.

I agree with this criticism 100% and I suggest a general discussion about of where the project should be going.

There's only one niche where Librefox can be successful: Create an up-to-date Firefox-copy th

[2018-12-26 13:13] dimqua commented on #48
I can't agree completely, but he made a couple of a good points. I can elaborate if needed.

[2018-12-26 15:30] claustromaniac commented on #45
Thank you.

Just to be clear, I don't have anything against accepting donations for one's work, and even if I wanted to criticize you for that (which I don't), I'm in no position to do that! Like Pants, I just didn't want anyone to think that I take part in the project when I actually don't, that's all. If you want to accept donations, I'm good with that.

[2018-12-26 18:33] elypter commented on #48
i would personally avoid any debatable privacy feature as default but add an easy way to switch it on or off. i agree with @samuel8941's niche. a daily use browser in its default settings should be primarily about usability. there are many settings that improve privacy and many features to re-enable that do not or only very rarely affect compatibility or usability. for the other settings a white o

[2018-12-26 18:37] elypter commented on #48
thats not necessarily a disadvantage if this streamlines the process significantly. if this allows to have a relyably up to date version of firefox then this is a good way to go. it could also be a stepping stone for further independend modifications.

[2018-12-26 19:07] John3 commented on #30
If we are talking about privacy, you can replaced with some other solution or you can run you own sync server https://github.com/mozilla-services/syncserver

[2018-12-26 19:44] John3 commented on #48
oh come on librefox is totally ok i don't get it the complaint, is focused in privacy, security and is a **young project**... clearly is not for everybody.

the palemoon creator complaint few thing for the average user and easy to use.

`I agree with this criticism 100% and I suggest a general discussion about of where the project should be going.`
I agree more with this project that other web bro

[2018-12-26 19:46] dimqua commented on #30
Could anyone recommend something?

[2018-12-26 19:48] dimqua commented on #48
What you mean?

[2018-12-26 20:38] John3 commented on #30
Yes sure here is one https://www.xbrowsersync.org/

[2018-12-26 20:40] drkui commented on #30
Personally, I would like to have Mozilla sync my bookmarks, since I'm using a temporary email for the sync anyway. It would be nice to enable the feature optionally for people that want it.

@dimqua I would recommend using the extension Floccus for handling bookmarks. It's open source and uses Nextcloud/Webdav. The only unfortunate part is that since the bookmark API isn't implemented for Firefox

[2018-12-26 23:10] elypter commented on #48
for things like third party scripts and clipboard you could use black and whitelists and ask the user if there is no data. this doesnt sacrifice security or usability aside from very rare cases. we should look for technical solutions instead of making painful compromises.

[2018-12-27 03:20] intika commented on #30
Syncing feature is by design not compatible with a privacy enforced browser.
Now i agree that the user should always have the choice.
For the moment this feature is not compatible with the feature "Zero unneeded connection"
I am planning to add an advanced settings page in the Firefox settings page i will see how i can integrate a switch for the sync feature, but this (if it is doable/compatible w

[2018-12-27 03:41] intika opened #49 "Anti fingerprint feature"
Choice over a settings page:

- No fingerprint protection
- Use Tor fingerprint (1)
- Randomize fingerprint (1)

(1) In both of those cases easy accessible whitelist need to be accessible

[2018-12-27 03:42] intika commented on #37
Thank you for bringing this, as its an important topic.
In the current state of the project Librefox (with default settings) have Tor fingerprint.

Here are the doable solutions and choices that should be available:

- No fingerprint protection
- Use Tor fingerprint (1)
- Randomize fingerprint (1)

(1) In both of those cases easy accessible whitelist need to be accessible

Let me know if i forget

[2018-12-27 03:42] intika commented on #37
i opened a to-do https://github.com/intika/Librefox/issues/49 for the matter and closing this ;)

[2018-12-27 03:42] #37 closed

[2018-12-27 04:01] intika commented on #28
30% of downloads are for x32 bit, this will not be dropped... and this is not the solution....
Any way i will see what fit best ;)
Closing this as #34 summarize it ;)

[2018-12-27 04:01] #28 closed

[2018-12-27 04:07] intika commented on #23
Extensions recommendation will be dropped any way on next release only Librefox extensions will be kept, most of the security/privacy thing will be grouped on a single extension... then the user will choose to install this or that... the main important scope here is the next version of the browser to make the project survive.

[2018-12-27 04:32] intika commented on #40
Thank you for your feedback :)
Currently the project is young and needs many important/urgent changes... i will consider that one, once Librefox will reach a stable situation, but for the moment i have to limit what should be done. but i keep that in mind don't worry ;)

[2018-12-27 04:42] intika opened #50 "Site compatibility checks/fix"
**Testing compatibility on those sites:**

- https://github.com/jellyfin/
- https://developer.mozilla.org/en-US/docs/Web/Demos_of_open_web_technologies

[2018-12-27 04:45] elypter commented on #49
i dont know if a strict immitation really helps that much because tor users can be identified by ip and any further deviation from the norm for usability like custom window sizes or adblockers makes it possible to differenciate. it is important to attempt a fingerprint that is as consistent as possible but it might be technically impossible or not doable without costly compromises to reach 100% id

[2018-12-27 04:47] intika commented on #41
Thank you for your feedback :)
i added this to the to-do list, it should be fixed in the next ;) it will be followed here https://github.com/intika/Librefox/issues/50

[2018-12-27 04:47] #41 closed

[2018-12-27 04:53] intika commented on #42
Thank your for your feedback :).
Probably there is a setting affecting this... it need further investigation and will be fixed on the next release... i added this to https://github.com/intika/Librefox/issues/50 and will be followed there ;)

[2018-12-27 04:53] #42 closed

[2018-12-27 05:08] intika commented on #43
Hi, thank you for your feedback

Delete those 2 lines from `mozilla.cfg` file then save and restart Librefox-Firefox
[code]

The file is located in the Firefox install directory

Let me know if you need further help

[2018-12-27 05:08] #43 closed

[2018-12-27 05:18] intika commented on #39
Extensions suggestion/recommendation will be removed from the project on next release, recommended and reviewed addons will probably be kept on an open issue like this one.

One single extension (that should include most needed privacy features) will be kept on the main project page...

Libefox need to find its way as a browser.

Also a lot of settings will be integrated directly to the browser, a

[2018-12-27 05:48] hubba900 opened #51 "QR code doesn't appear on web.whatsapp.com"
Hello,

I try to logon onto https://web.whatsapp.com/, but QR code doesn't appear.

[2018-12-27 05:52] hubba900 opened #52 "Google Translate (RU domain issue)"
Hello,

Google Translate doesn't work on RU domain (https://translate.google.ru), but work without any problem on COM domain (https://translate.google.com). Maybe issue can appear on other domains.

[2018-12-27 15:55] samuel8941 commented on #34
suggestions:

- keep the basic mozilla firefox design principles (where possible) for user experience consistency and easier adaption to updates
- merge configs into easy-to-understand settings (this will probably be most of the work)
- provide different librefox profiles for different purposes
- provide a default focusing on usability
- some form of differentiation when setting deviates from the

[2018-12-27 17:50] elypter commented on #39
a browser integration should be the final goal. privacy is a core feature and should not be treated like it's an optional extra. combining all the privacy addon features into a single addon or directly into the browser will remove many redundancies, improve control and performance. it is the right approach but also a very ambitious goal. many addons are big projects just for themselves. so maybe t

[2018-12-27 19:19] b16r05 commented on #39
@elypter Great reply in response to @samuel8941's comment. Couldn't have said it better myself. I haven't even heard of any of the addons you mentioned, but, I know stylUS : )

Further, Firefox itself has made some privacy related changes, that was previously possible only with addons. For example, I think Firefox does HTTPS by default now. Another thing is "referrer getting stripped" was also add

[2018-12-27 20:46] KOLANICH commented on #40
Isn't it misuse of `wontfix`?

[2018-12-27 20:52] Atavic commented on #3
^ Not very reliable, as barely updated. It lacks recent entries, like the ones explained [here](https://gist.github.com/Atavic/a70ab101fa1679108620b35646ec0b33).

I generally look for specific entries on searx.me, but there are also:

https://hg.mozilla.org/mozilla-central/

and some links listed on https://github.com/CHEF-KOCH/FFCK#research

Official Mozilla Mailing List/Newsgroup: https://www.mo

[2018-12-27 20:55] Atavic commented on #3
^ Not very reliable, as barely updated. It lacks recent entries, like the ones explained [here](https://gist.github.com/Atavic/a70ab101fa1679108620b35646ec0b33).

*I generally look for specific entries* on searx.me, but there are also:

https://hg.mozilla.org/mozilla-central/

and some links listed on https://github.com/CHEF-KOCH/FFCK#research

Official Mozilla Mailing List/Newsgroup: https://www.

[2018-12-27 21:07] b16r05 commented on #39
@intika

Wow... I had no idea (I am not using LibreFox) that there was a place for users to submit addon suggestions. Having this is a good idea...

Reason is take for example user agent spoofer. Chameleon is a WebExtension port of the popular Firefox addon Random Agent Spoofer...
https://addons.mozilla.org/en-US/firefox/addon/chameleon-ext/
https://github.com/sereneblue/chameleon
and LibreFox has

[2018-12-27 21:09] intika commented on #40
`wontfix` in the current state of the project... as i have to come with a new build method for Librefox other than the one currently used, signature would be part of the new method, but won't be implemented on first releases as the project have a lot to integrate before looking into this.

[2018-12-27 21:12] intika commented on #40
i added a note on my to-do for this and added a new flag `way-too-soon-for-this` one the project reach some stability state i will reopen this for sure

[2018-12-27 21:13] Atavic commented on #39
What's a minimal list of must have extensions?

gorhill uBo
decentraleyes
noscript (or uMatrix) as discussed [here](https://github.com/ghacksuserjs/ghacks-user.js/issues/319)
one for cookies on/off
one for trimming/clearing URLs?

*Notices*: Too many addons may lead to problems: https://github.com/pyllyukko/user.js/issues/348#issuecomment-420322549

and also *may lead to unique fingerprinting*, pa

[2018-12-27 21:20] Atavic commented on #52
Maybe it works if your language is RU instead of en/US. ghacks-user.js sets:

```intl.accept_languages "en-US, en"```

while google.ru sets ```<html lang="ru">```

[2018-12-27 21:42] intika opened #53 "Adapting & fixing settings"
Following https://github.com/intika/Librefox/issues/34 many settings have to be defaulted to a different value while leaving the choice for the user.

**Moonchild**

- Block third-party cookies: Can block some sites (Add it as a choice)

- Completely disable the password manager how does this improve privacy, exactly, by forcing users to type their credentials every time? ( ... )

- Completely dis

[2018-12-27 21:48] intika commented on #48
Interesting topic... https://github.com/intika/Librefox/issues/53 and https://github.com/intika/Librefox/issues/34 should take care of this

[2018-12-27 21:48] #48 closed

[2018-12-27 22:05] intika commented on #49
@elypter thank you for your feedback...

I think anti-fingerprint feature should be kelp at simple as possible and should only provide 2 ways of fighting fingerprint, the "randomize" one is approved for sure but for the second one we need to discuss it further.

[2018-12-27 22:56] elypter commented on #39
there should also be an addon to clear referrers and headers and all those addons/features should be capable of using white&blacklist, asking the user as well as detecing patterns themselves like privacy badger or privacy possum which monitor third party scripts to see if they are used on multiple sites and what they are doing.

[2018-12-27 23:05] Atavic commented on #39
^ That's the one for trimming/clearing URLs, See: https://github.com/intika/Librefox/issues/39#issuecomment-449867379

[2018-12-28 00:07] elypter commented on #53
it's important to know what the audience is and what audience the browser is targeted at. and it is important to communicate the priorities. something like whether it is: security>privacy>usability>maintainability or maintainability>privacy>security>usability
this makes the project consistent and avoids confusion what later seeds conflicts in larger projects. this all said, it should also be avoid

[2018-12-28 01:06] atomGit commented on #39
[Temporary Containers](https://addons.mozilla.org/en-US/firefox/addon/temporary-containers/) - this and, optionally, `privacy.firstparty.isolate` should eliminate the need for any cookie/storage/canvas cleaners, which can't clean everything by domain anyway (IndexedDB)

[ClearURLs](https://addons.mozilla.org/en-US/firefox/addon/clearurls/) - dynamically updated list of URL param cleaning (tracking

[2018-12-28 01:49] elypter commented on #39
i would like to suggest a concept that is not quite functional yet but has some potential.
there is a project called truthbot(unfortunately discontinued now). its goal was to show users the ownership relation of a website. todays big corporations usually own hundreds of daughter corporations which themselves own many domains. it has come so far that the average user doesn't notice anymore who a we

[2018-12-28 01:50] intika commented on #39
@b16r05

The main browser extension i am thinking of would just bring important features not everything other extension would always be needed... it would be just a must have extension to make Librefox complete

After the release of the next version any PR for that would be welcome but all those extensions etc. have to be limited because the most important thing is the core Librefox... it's why i

[2018-12-28 01:50] elypter commented on #39
i havent heared of this one yet. thanks

[2018-12-28 01:52] intika commented on #39
Let keep things cool right now and not overwhelm too much the to-do list

[2018-12-28 02:58] intika commented on #33
mozilla !

[2018-12-28 07:41] intika commented on #33
Done

[2018-12-28 07:41] #33 closed

[2018-12-28 08:04] intika commented on #25
this issue will be followed here https://github.com/intika/Librefox/issues/27

[2018-12-28 08:04] #25 closed

[2018-12-28 08:31] wolfbeast commented on #53
@Thorin-Oakenpants I actually only lifted out the ones that are severely breaking - I didn't comment on any that would be a good choice for this product with some breakage, but as you said yourself it breaks left right and center, as well as a number of things that aren't directly exposed to the user but do break under the hood (e.g. OCSP and blocklisting). I don't think most of what is done is in

[2018-12-28 08:46] intika commented on #35
done

[2018-12-28 08:46] #35 closed

[2018-12-28 08:48] Thorin-Oakenpants commented on #53
@wolfbeast

since the post was @ me, I just want to clarify that this is not what I or the ghacks user.js aims for. If it doesn't impact security or privacy then I leave it alone (but may provide options). Some people don't understand what privacy actually means

[2018-12-28 08:51] Thorin-Oakenpants commented on #53
you (librefox) need to distinguish between different threat levels. There's shoulder surfers vs persistent local storage (you would need to be compromised locally) vs external etc

[2018-12-28 09:08] Thorin-Oakenpants commented on #53
an example

After 3.5 years of NOT disabling ip6 .. I did (in the ghacks user.js). I did this after user feedback. I also including setup tags, etc ... and we weighed up the pros and cons - it doesn't break anything AFAIK, and most people worldwide can;t even use it ... and it something that should be handled on a network level ...

but it is a privacy/tracking risk, and it can compromise VPNs (wh

[2018-12-28 10:58] b16r05 commented on #39
@intika

Ah... now I understand about the main browser extension. So, just the fact that other browser extensions/addons will be needed, makes this issue still relevant : )

Yes, I understand about focusing on LF core... and "limiting extensions or else getting fingerprinted" : )

I want to just leave another suggestion on here... which is to take a look at how chocolatey-package-requests works: h

[2018-12-28 11:03] intika commented on #39
it's why it's still open :) :+1:

[2018-12-28 13:55] samuel8941 commented on #34
I think it would be a good idea to use the ffprofile standard configuration and take it as the foundation for the default librefox profile within advanced settings. It should break almost nothing while taking away the bloat, adware, telemetry, etc.

A couple of privacy tweeks in ffprofile will probably break something and should be deactivated.

The important part I think is to start with few chan

[2018-12-28 14:52] Atavic commented on #34
http://kb.mozillazine.org/Command_line_arguments
https://developer.mozilla.org/en-US/docs/Mozilla/Command_Line_Options
[archived link](http://web.archive.org/web/20180801005323/https://www.oreilly.com/library/view/firefox-hacks/0596009283/ch01s12.html)

[2018-12-28 15:20] Atavic commented on #3
dont-track-me-google1 is too specific. [Fanboy Ultimate Adblock list](https://fanboy.co.nz/filters.html) blocks the those analytics. It includes Easylist, Easyprivacy, Enhanced Trackers List and Annoyances List. All these lists are available in *uBlock Origin*.

[2018-12-28 15:32] protonesso opened #54 "builds for musl based systems"

[2018-12-28 15:35] Atavic commented on #54
Alpine Linux and Void Linux.

[2018-12-28 15:43] protonesso commented on #54
what about Sabotage and Dragora?

[2018-12-28 15:59] Atavic commented on #54
Sabotage :+1:

Dragora release based on musl is in the works since 2012, see:
https://wiki.musl-libc.org/projects-using-musl.html

[2018-12-28 16:05] protonesso commented on #54
this wiki is outdated

[2018-12-28 16:37] intika commented on #26
Fixed... wow... was an urgent one.

[2018-12-28 16:37] #26 closed

[2018-12-28 16:42] intika opened #55 "Librefox full release"
This include changing the logo, trademarking and using Librefox own user profile etc.

[2018-12-28 17:36] intika commented on #54
Yay Void Linux :) .... the current temporary build is already compatible, but i will look into this while i am building true Librefox (independent from Firefox)

[2018-12-28 17:45] Atavic commented on #8
See [here](https://www.ghacks.net/2017/10/02/mozilla-launches-firefox-rocket-browser-in-indonesia/)

For me Firefox Klar is worth a look. By unpacking firefox lite apk I see in /assets/licenses.html

[2018-12-28 17:48] Atavic commented on #8
It’s Firefox Focus with a different UI for Indonesian users.

By unpacking the apk I see in /assets/licenses.html

For me Firefox Klar is maybe worth a look.

[2018-12-28 17:50] Atavic commented on #54
Dragora 3.0 Alpha Release has musl, apparently.

[2018-12-28 17:55] Atavic commented on #8
BTW even Klar has adjust partnership.

[2018-12-28 17:59] Atavic commented on #8
Info: https://github.com/mozilla-mobile/focus-android/wiki/Adjust-Usage

[2018-12-28 18:02] intika commented on #8
Thank you for the feedback i will look into that ;)

[2018-12-28 18:06] c0rdis opened #56 "Consider collaboration with privacytools.io"
Hi there! I'm a member of privacytools.io, and today I've created a discussion on https://github.com/privacytoolsIO/privacytools.io/issues/698. I think it would be quite beneficial to join the forces, review and merge existing tweaks from both projects (our recommended settings are listed here: https://www.privacytools.io/#about_config, and add-ons are available here: https://www.privacytools.io/#

[2018-12-28 18:15] intika commented on #8
I just checked the different versions they are nice... but i think i will stick with main Firefox for android for the moment... once all the rest will be done i will may be look at focus etc... i did added that to the check list in the first to see if i can adopt one of those instead of the main Firefox but it's not suitable as many important settings are removed from them like desktop version...

[2018-12-28 18:19] elypter commented on #53
so one question that has to be answered is "what priority does local privacy have?"  imo it's on a whole other level. once an intruder already has control over the system he can do basically anything. there are endless threat models and every counter measure can theoretically be reversed by an adversary. once an attacker is in the system there is no such thing as real scurity. al you can do is mak

[2018-12-28 18:37] intika commented on #56
@c0rdis thank you for your feedback and your post in privacytools.io it's appreciated :)
For the moment Librefox is very young and is susceptible of radical changes soon, there is 3, or 4 very important to-do (on the issues page) this will takes time 1 or 2 moth to get those important changes done, then we could reconsider this, but not in the current state of the project as it own current state d

[2018-12-28 18:42] intika commented on #56
I will close this to keep the focus clear and avoid overwhelming the to-do list... after that i will look into all closed issues with "way-too-soon-for-this" and reopen relevant one at the time being :) but don't hesitate to reply :)

[2018-12-28 18:42] #56 closed

[2018-12-28 18:51] intika commented on #34
I added this just to have an implementation example not to directly use it. the setting page will be kind a mix of all what i listed... it's not about integrating existing tool, but developing a new one with a different  scope (integrated in Librefox Browser)

https://developer.mozilla.org/en-US/docs/Mozilla/Command_Line_Options
archived link

it's more of what's @samuel8941 is explaining here htt

[2018-12-28 19:06] intika commented on #34
@samuel8941 yes i already did all the background dirty work those past 2 month i know exactly what to default off and what to turn off, also gHack have a list of breaking feature to complete mine... the choice is obvious and was already made in project like palemoon where the privacy is perfect

The main breaking feature is fighting fingerprinting this is what generally makes site break or work (a

[2018-12-28 19:21] intika commented on #3
@Atavic amazing thanks :)

[2018-12-28 19:39] elypter commented on #8
isnt firefox focus chrome based? it would be a completely different browser then

[2018-12-29 03:59] intika commented on #8
it does a matter for the base the thing is the outcome which is have a fast reliable privacy aware browser for mobile; Andoird will need its own work and development any way.

[2018-12-29 04:08] intika opened #59 "Members to be added to the acknowledgment"
Active and participating members will be listed here before being added to the acknowledgment (thank you section).

Don't hesitate to report a candidate or yourself.

[2018-12-29 04:11] intika commented on #8
@elypter thank you for all your feedback and for participating actively in the project i will add you to the thanks you list... i also created an issue for that matter ;) https://github.com/intika/Librefox/issues/59

[2018-12-29 07:27] Chippel opened #60 "Android Version?"
Curious. This project seems promising. Is an android version planned? I didn't find any information about it.

[2018-12-29 07:39] intika commented on #60
lol, thank you for your feedback infos about it are here https://github.com/intika/Librefox/issues/8

[2018-12-29 07:40] intika commented on #60
feel free to comment there for android subject :)

[2018-12-29 07:40] #60 closed

[2018-12-29 09:33] intika opened #61 "Add an updater"
Bundled in the browser or over extension

[2018-12-29 09:37] intika opened #62 "Add an all-in-one Librefox addon"
Addon that would include most important (but not all) privacy settings that are not already included in the core browser

[2018-12-29 09:41] Chippel commented on #8
So we should use Firefox focus on Android? Is it the same? I thought it is chrome based so it calls home I guess.

[2018-12-29 10:08] intika commented on #8
If you want a privacy aware browser for mobile awaiting Librefox to provide an android version you can use https://www.bromite.org/

[2018-12-29 10:46] intika commented on #8
Firefox to me is faster on mobile compared to chrome (less resources intensive) but when it come to privacy Bromite is way more better... the claims about privacy that are made by Mozilla on android are not clear.

[2018-12-29 10:48] Chippel commented on #8
Do you have any proof that focus has less privacy or worse privacy than bromite?

[2018-12-29 10:48] intika commented on #50
Report from a ghack user...

I cannot access any of the ‘google sites’ in Librefox.

“The error message begins thus:”An error occurred during a connection to google.com. The server uses key pinning (HPKP) but no trusted certificate chain could be constructed that matches the pinset. Key pinning violations cannot be overridden. Error code: MOZILLA_PKIX_ERROR_KEY_PINNING_FAILURE”.

Need help. Thanks

[2018-12-29 11:00] intika opened #63 "Site and add privacy policy"

[2018-12-29 11:58] intika commented on #8
it depend on your needs and how you define privacy, this require a deep technical comparison, feel free to do so :) and choose the application that suit your needs ;)

[2018-12-29 14:52] Chippel opened #64 "How to reset / uninstall?"
I didn't find it. Is there a reset button or something similar in order to reset it to the defaults?

[2018-12-29 15:12] intika commented on #64
Yes just remove the files you added to your install i will update the readme

[2018-12-29 15:15] intika commented on #64
- To uninstall, just remove the files you added to your Firefox's install directory (to know what file to remove just check the downloaded Librefox zip file)

[2018-12-29 15:15] #64 closed

[2018-12-29 15:15] intika commented on #64
let me know if you need further assistance ;)

[2018-12-29 18:19] Atavic commented on #3
https://github.com/devtools-html/perf.html

Also [here](https://github.com/ghacksuserjs/ghacks-user.js/pull/597#issuecomment-447421073)

[2018-12-29 18:35] Atavic commented on #61
A simpler way is to create a github pages blog with RSS, as https://github.com/jekyll/minima

[2018-12-29 18:38] Atavic commented on #8
@elypter Due to the size, around 3 MB, it's most probably based on chrome.

[2018-12-29 19:04] Atavic commented on #50
*security.OCSP.enabled* should be set to true to avoid such issues (that may have other causes, BTW).

[2018-12-29 19:05] Atavic commented on #63
Legalese, Yeah !!

[2018-12-29 19:07] Atavic commented on #40
Issuer has his point, there are already Librefox packages on various *free downloading* sites.

[2018-12-29 19:37] intika commented on #40
Okay ;)

[2018-12-29 19:40] intika commented on #50
@Atavic yes just gathering users feedback but at the end of the day next version will be very soft by default so all of those issues should be fixed in one shoot, but don't worry there will be a menu to enforce the settings

[2018-12-29 21:54] theel0ja opened #65 "Set DuckDuckGo as default search engine"

[2018-12-29 21:57] Atavic commented on #65
No, use searx.me instead. Or one of these [instances](https://github.com/asciimoo/searx/wiki/Searx-instances). DDG has been criticized, due to the business past of the owner(s).

[2018-12-29 21:59] samuel8941 commented on #65
I agree, DDG is the way to go. Only search engine that comes close to Google regarding search results.

Startpage, Qwant, searx and others could be included as well, but DDG should be default.

[2018-12-29 22:53] intika commented on #65
Personally i am not a fan of ddg, i will may be explain why in details later (some technical privacy issues) but one thing for sure is the choice will be given as always (the main focus on the next release is "the choice" so don't worry).
Also all search engines are profiling their users at a level or an other it's a must for them, and the more they use users data the more they are effective... bu

[2018-12-29 22:56] intika commented on #65
I will close this topic to avoid overwhelming the to-do list but feel free to keep answering ;)

[2018-12-29 22:56] #65 closed

[2018-12-30 01:00] elypter commented on #50
although you really shouldn't visit a site like this because this quite likely means there is someone doing a man in the middle attack i think users shold still be allowed to do it anyways. after all unencrypted traffic is still allowed in most browsers. it is a good choice to disable it by default like with the nohttp addon but there should be no hardlocks.

[2018-12-30 01:10] intika commented on #50
@elypter i know i was willing to ask the user from where he was connecting, but just did not bother to...

[2018-12-30 01:39] elypter commented on #62
i had an idea for a sort of "all in one" privacy filtering addon in the past. it is based on the idea behind umatrix. there is a multitude of settings for privacy and many would benefit from a white&blacklists. instead of implementing this for each function or addon like it is done today which is a lot of dublication of work and has an equivalent performance penalty this filtering could be done by

[2018-12-30 01:50] elypter commented on #61
isn't it possible to repurpose the built in updater?

[2018-12-30 02:17] intika commented on #61
@elypter very nice idea ! but not for the first release as it need more work to re-purpose that one but later why not, the updater in the first release will be just a notification system about updates that can be turned off, the user will still need to install the update manually. why?! because most important thing in order are:
- Builds and build system for the 20 different releases
- Quick updat

[2018-12-30 02:36] intika commented on #62
This a nice idea for separate addon on its own, what i learned from experience about addons is:

- The simpler it is the better it will be
- Give the user choice but never too much (not for addons) or make it 2 layer of choice one super simple and the other one advanced (like ublock simple for daily use but can be super powerful in features while it still stay super simple... i men in the main int

[2018-12-30 03:05] intika opened #66 "NoHTTP addons script are not case sensitive"
[code]

[2018-12-30 03:13] elypter commented on #62
i think a all in one filter addon has a huge usability advantage. managing filters also means managing filterlist like ublock does. most addons are tedious because they do not have good defaults and you have to either switch it off for the most part or create your own personal whitelists. imagine you could have website settings for every site wide addon or browser setting be controlled by regularl

[2018-12-30 07:21] intika opened #67 "Remove url bar spacing by default"

[2018-12-30 09:47] pashamcr commented on #8
I doubt that in the Play Market, you can find applications that respect privacy, only the presence of the application in the GP is suspicious. Don't be confused by the presence of:
_smali\com\adjust
smali\com\android\installreferrer
smali\com\google\android\finsky\externalreferrer_
in focus?,
smali\com\adjust
com\leanplum
com\google\firebase
smali\com\google\android\gms
in Firefox for Android?

ch

[2018-12-30 13:12] samuel8941 commented on #20
I think ideally the logo would be something that resembles firefox, with a different color scheme. Similar to waterfox.

[2018-12-30 15:24] borrellsword opened #68 "Pixiv images broken"
Pixiv galleries are broken. Just the galleries, ads and other things on the site still work in safe mode

[2018-12-30 15:52] Atavic commented on #62
Some addons that may be worth looking at:
https://github.com/gbaptista/luminous
Best work on js.

https://github.com/plaperdr/fprandom
Counter fingerprinting techniques.

[2018-12-30 16:40] 747iajc1k opened #69 "Browser window doesn't save it's size and position between restarts."
Browser window resets it's size and position every time after restart, even if it was opened on full screen previously.
win10

[2018-12-30 16:47] 747iajc1k opened #70 "Developer tools don't work."
Developer tools (ctrl+shift+i or f12) don't work.
Only empty window without tools.
win10

[2018-12-30 16:51] Atavic commented on #69
It's a *privacy.resistFingerprinting* feature, see: https://github.com/ghacksuserjs/ghacks-user.js/issues/220

[2018-12-30 16:57] 747iajc1k commented on #69
@Atavic thanks!

[2018-12-30 16:57] #69 closed

[2018-12-31 02:58] intika commented on #69
privacy.resistFingerprinting will be more at choice on the next version, it will be disabled by default and thus solve such issue ;)

[2018-12-31 03:00] intika commented on #68
Thank you for reporting this :) it will be solved on next release

[2018-12-31 03:02] intika commented on #68
This is added to the broken site list and will be followed there ;)

[2018-12-31 03:02] #68 closed

[2018-12-31 03:05] intika commented on #70
It works on Linux... can you please try without the mozilla.cfg file and report back if it is still broken
i will look into this for next release

[2018-12-31 03:09] intika opened #71 "Broken features"
- Developer tools (ctrl+shift+i or f12) don't work on windows

[2018-12-31 03:09] intika commented on #70
i added this to https://github.com/intika/Librefox/issues/71 and will be followed there ;)

[2018-12-31 03:09] #70 closed

[2018-12-31 03:16] intika commented on #59
@elypter

[2018-12-31 03:32] intika commented on #20
The current one is from Appveyor provided by https://img.shields.io/

[2018-12-31 03:37] intika commented on #20
For the logo here is what i am thinking of, indeed similar to Firefox...
- It would have a dark/gray color scheme with a little wave of orange
- The logo would be a round earth like Firefox with only the tail of the fox (because he was liberated hahahaha) very similar to Firefox without the head of the fox

[2018-12-31 03:43] intika commented on #20
I will post here the continuous work before deciding for the last one

[2018-12-31 03:47] intika commented on #20
Also feel free to post base image here (image that would be a base to design the icon)

[2018-12-31 03:48] intika commented on #20
Here is my current base https://github.com/intika/Librefox/tree/master/debugging/logo-base

[2018-12-31 04:01] intika opened #72 "Librefox development team"
Librefox will probably need more people to work on it later on...

So if you are interested in being a member of the future development team please reply here and indicate in what aspect of the browser you want to work.

Current main aspect:

- Building (Windows/Linux/Mac/Android)
- Watching changes on new Firefox version (to patch changes that need to be patched)
- Design (Icon, website, Github R

[2018-12-31 04:03] intika commented on #72
Current candidate @samuel8941

[2018-12-31 04:06] intika commented on #72
Tagging Librefox related github users : @brainscar, @nhynes, @yoasif, @szepeviktor, @theel0ja,
@Eloston, @dimqua, @Atavic, @antuketot76, @maxidor, @anchev, @samuel8941, @shaynem, @elypter, @elypter and all the others i forget to mention.

[2018-12-31 04:58] elypter commented on #20
i remember those from a mozilla post. are those released as CC?

[2018-12-31 05:57] elypter commented on #20
i imagine a fox with wings and blue feathers would look cool. instead of looking away he looks towards the user and in the curl of his tail there is the globe. the logo could contain the face at the bottom. at the height of the ears you would see the wings and above that is the curled tail with the globe.

[2018-12-31 06:35] intika commented on #20
@elypter hahahahahha
![wingedfox](https://user-images.githubusercontent.com/6892180/50555567-9c80e500-0cce-11e9-8226-f0420a4064cb.jpg)

[2018-12-31 06:37] intika commented on #20
@elypter i like the idea of the wings

[2018-12-31 06:50] intika opened #73 "Librebird ? lol"
In a form of an extension (thunderbird done does not need forking...)

[2018-12-31 06:50] #73 closed

[2018-12-31 06:50] intika commented on #73
it's just a reminder

[2018-12-31 08:01] Chippel opened #74 "How to update?"
Since all the settings disable automatic updates in Firefox. What do I do?

[2018-12-31 12:08] AnXh3L0 commented on #72
Hi, I'd like to help with the design :+1:

[2018-12-31 13:41] hesss5 opened #76 "removal some feature from source code"
Hi
thanks for great job and Librefox
from some recent version of Firefox there is folder called "features" there are several addon there
and with each new version of Firefox the addon in that folder reduced
as i noted seems Firefox restoring them back to it source.like activity-stream and pocket.com addon(and maybe some other addon reverted back silently)
are in Firefox.
so i may ask you please ma

[2018-12-31 14:03] intika opened #77 "Remove core addons"
Remove addons converted to core features

[2018-12-31 14:06] intika commented on #76
Hi,

Yes i know about the addons that are integrated in the core i am removing them don't worry i added an issue about it https://github.com/intika/Librefox/issues/77

For the home content there is no privacy issue nor telemetry nor connection to Mozilla once it's configured correctly so i'll keep that one and patch it to make sure it's an offline feature.

Happy new year :)

[2018-12-31 14:06] #76 closed

[2018-12-31 14:08] intika commented on #76
Let me know if you have other request ;)

[2018-12-31 15:56] Atavic commented on #72
I can check grammar.

[2018-12-31 17:30] hesss5 commented on #76
thank you finally somebody take care of them :1st_place_medal:
i know its offlined but hope get this rid of this part too very useless addons can do this staff hope you add it to do list
ok other request whould be developer tool.can you make it as a feature addon?
or remove this part too.its very rarly used by end user this can be as seperate version
this make it very light version of it
also a qu

[2018-12-31 23:44] NotWorthKnowing commented on #62
I can tell from the posts I'm seeing here and other places that I'm not going to like some of the default settings.  Too much emphasis on putting usability first which is a cop-out (or fail) for a privacy focused browser.  I don't care to argue; I might still use it if it is easy enough to find and change the settings I don't like.  FFprofilemaker is OK in that regard to use once per update, but n

[2019-01-01 14:18] 747iajc1k commented on #71
Clean profile ESR version win10.
[devtools.zip](https://github.com/intika/Librefox/files/2719383/devtools.zip)

[2019-01-01 14:19] 747iajc1k commented on #71
Woah, why you deleted ESR version support? Because this bug on ESR.

[2019-01-01 17:30] shaynem commented on #72
I can assist with mac builds

On Mon, Dec 31, 2018 at 3:56 PM Atavic <notifications@github.com> wrote:

[2019-01-02 01:35] intika commented on #76
there is a lot of things to be done right now i will see what i can do ;)
yes if you delete the file `mozilla.cfg` you get back the normal firefox

[2019-01-02 01:40] intika commented on #71
ESR is not deleted the current temporary version is compatible with ESR it's why i did not split the downloads...

[2019-01-02 02:01] ilikenwf opened #78 "Archlinux PKGBUILD or Linux Build Guide"
If you could provide one or the other it would be greatly appreciated - I currently run Waterfox, but many of the features here align with my interests, namely privacy, lack of BS that Mozilla is doing for profit, hardening, etc.

I'll want to check and see if the following are also addressed, too, as an aside:
https://github.com/MrAlex94/Waterfox/issues/768
https://github.com/MrAlex94/Waterfox/is

[2019-01-02 02:04] intika commented on #62
@NotWorthKnowing normally the situation you listed will be managed as well, in the current version i am working on we will either have a profiles to chose from (normal/hardened) or per sections settings (to enable this or that feature) or both.
What i mean is indeed by default the the browser will be setup for usability BUT you can easily enforce privacy with few clicks on the advanced setting pag

[2019-01-02 02:20] intika commented on #78
Thank you for your feedback it's a little too soon for the build instruction i will provide them later on after the "full release".... i added this to https://github.com/intika/Librefox/issues/25

For the rest most of what you listed is either already fixed on the current version  (captive portal detection is disabled tho) or will be available over settings on next version, what's important is tha

[2019-01-02 02:40] intika commented on #72
Thank you all for your answers; in the current situation things will just go through github PR open to anyone willing to help the next step would be a website i think @samuel8941 is preparing one in its fork... the site will be published just before the release... then we will see what happen either things will get more organized or it will remain as it is here :)

[2019-01-02 09:55] whalehub opened #79 "Allow toggling (some) about:config values"
I want to start Librefox with a maximized window which is currently not possible because the **about:config** value **privacy.resistFingerprinting** cannot be toggled from **true** to **false**. This minor problem is unfortunately annoying enough keeping me from using Librefox at the moment.

[2019-01-02 11:43] intika commented on #79
Hi the locked settings can be edited just by changing their value in the `mozilla.cfg` file (https://github.com/intika/Librefox#edit-locked-settings)
This is for the current version, but this will change on the next release, there will be a menu to do so and about:config wont be locked by default

[2019-01-02 11:48] intika commented on #79
this will be followed here https://github.com/intika/Librefox/issues/34... i will close this, let me know if you need further assistance ;)

[2019-01-02 11:48] #79 closed

[2019-01-02 12:58] colbycdev opened #80 "Android compatibility"
I see you've developed a version for Linux, and already it's in JavaScript. Porting to Android shouldn't be too hard from there.
The reason I ask is that I'm only on Android, and I only use Firefox because it has extension support(I use uBlock).

[2019-01-02 14:59] F3000 commented on #80
Hi ,

is Librefox generally supported on Android Devices ?

[2019-01-02 18:58] Atavic commented on #80
See: https://github.com/intika/Librefox/issues/46

[2019-01-02 20:14] NotWorthKnowing commented on #71
lockPref("network.dns.disableIPv6", true);
is blocking all internet connections for me using 60.4 ESR
same thing when this line is commented out and I flip it to true in about:config

Thanks for the 2.1 version config file; haven't applied it yet but the small download is really convenient, especially since I have a 2GB/month limit.

[2019-01-02 20:21] LennyPenny opened #81 "Staying logged in after restarts"
Is there a setting I can tweak so session cookies can stay for at least a week or something?

It's very annoying to always have to log in to sites like github or youtube with 2FA.

[2019-01-02 20:40] Atavic commented on #81
See: https://github.com/intika/Librefox/blob/f9d761dba604ba61f1ab2902352a33eaf034356d/librefox/mozilla.cfg#L105

[2019-01-02 21:07] ribatamu opened #82 "Web Developer is not working"
Web developer is not working, when Librefox is applied.

[2019-01-02 21:10] Atavic commented on #82
Yes. Duplicate issue of https://github.com/intika/Librefox/issues/71

[2019-01-02 21:35] LennyPenny commented on #81
Oh awesome thanks!
Will there be a way in the future to merge local changes with the librefox ones? My changes will probably be overwritten by the next librefox update

[2019-01-02 21:45] Atavic commented on #81
Yep. Create your very own personal ```user-overrides.js```

[2019-01-02 21:51] LennyPenny commented on #81
Does this mean I will have to install ghacks alongisde librefox?

[2019-01-02 22:01] Atavic commented on #81
```overrides.js``` is the correct name and it works [the same way as a user.js](https://12bytes.org/articles/tech/firefox/firefoxgecko-configuration-guide-for-privacy-and-performance-buffs#editing_the_user-overridesjs_file) but is appended to it.

[2019-01-02 22:03] Atavic commented on #81
overrides.js works the same way as a user.js but is appended to it, see [here](https://12bytes.org/articles/tech/firefox/firefoxgecko-configuration-guide-for-privacy-and-performance-buffs#editing_the_user-overridesjs_file).

[2019-01-02 22:04] Atavic commented on #81
*user-overrides.js* works the same way as a *user.js* but is appended to it, see:
https://12bytes.org/articles/tech/firefox/firefoxgecko-configuration-guide-for-privacy-and-performance-buffs#editing_the_user-overridesjs_file

[2019-01-02 23:10] LennyPenny commented on #81
Ah okay, so I will to use the theghacks updater script, as that functionality isn't included in librefox

[2019-01-03 03:30] colbycdev commented on #8
Yes, an Android version is a must

[2019-01-03 03:31] colbycdev commented on #80
Duplicate of #8

[2019-01-03 03:31] #80 closed

[2019-01-03 03:34] colbycdev commented on #72
I'd like to work on design and/or communication

[2019-01-03 03:41] colbycdev commented on #82
Duplicate of #71. Please close

[2019-01-03 03:43] colbycdev commented on #81
I'd advise less code editing. End users generally don't mess with codel. If there is no visual setting for a desired functionality, they won't use the program

[2019-01-03 03:47] colbycdev commented on #61
Let's have an easier update process. Most users, if not prompted or have it done automatically, won't ever update software

[2019-01-03 03:52] colbycdev commented on #24
I'm thinking a Dev version as in a tester version for early adopters, to test out new librefox features.
Maybe use Firefox beta, not nightly as core? I believe nightly is forced telemetry, not beta

[2019-01-03 11:45] dimqua commented on #72
I can translate into Russian.

[2019-01-03 15:40] intika commented on #59
@colbycdev

[2019-01-03 15:45] intika commented on #71
@NotWorthKnowing i will see if maintaining a "patch" version like the current one is doable...
IPv6 will be enabled by default in the future version ;)

[2019-01-03 15:57] intika commented on #81
@LennyPenny also check the line `defaultPref("privacy.sanitize.timeSpan", 0);` this could be edited directly on Firefox's settings page without editing the `mozilla.cfg` it's under "Preferences/Privacy/History/Clear history when Firefox closes"

Future version will have most of the settings integrated and manageable over the preferences pages... so you would may be need to redo your config for the

[2019-01-03 15:57] #81 closed

[2019-01-03 15:58] intika commented on #81
Don't hesitate to reply if you need further assistance ;)

[2019-01-03 16:02] intika commented on #59
Check https://github.com/intika/Librefox/issues/72

[2019-01-03 16:43] theel0ja opened #83 "Broken site - verkkokauppa.com"
URL I have problems with: `https://www.verkkokauppa.com/`

Even in new profile with no addons.

It shows some of the content and whole page becomes white.

[2019-01-03 18:41] intika commented on #83
Confirmed, this will be solved in the next release ;)
i added the site to https://github.com/intika/Librefox/issues/50

[2019-01-03 18:41] #83 closed

[2019-01-03 19:47] Atavic commented on #8
Both *ghacks-user.js* and *pyllyukko user.js* are lacking in Android reports, they have focused on the following solutions:

- **append the contents of your user.js file to prefs.js**

https://github.com/pyllyukko/user.js/issues/14#issuecomment-366571564

- **use remote debugging**

https://github.com/ghacksuserjs/ghacks-user.js/issues/318#issuecomment-359181951

Appending user.js is simpler, but

[2019-01-04 01:52] dimqua commented on #8
Firefox Focus (Klar) uses GeckoView engine. Firefox Lite is a fork, it uses WebView.

[2019-01-04 10:12] atbanpc commented on #66
I've tried to reproduce this behavior but it seems that Firefox corrects the capitalized 'http' to lowercase. Are there any examples of actions that result in this behavior?

On another note, to change this, we would need to fork the extension.

[2019-01-04 10:34] intika commented on #72
@atbanpc @Atavic @theel0ja @dimqua @colbycdev @AnXh3L0
can you please send me what ever you use to chat (skype/xmpp/etc) to intika@librefox.org
Thanks

[2019-01-04 18:00] gerroon opened #84 "Zoom is not remembered"
Hi

Does anyone have an issue with LF constantly resets the zoom levels after closeing the tab with a page and reopening the page ? I was using Firefox 60 on LInux and this was not an issue at all.

I have site specific zoom set to true

Any recommendations?

[2019-01-04 18:15] Atavic commented on #84
Yes, see:

https://github.com/ghacksuserjs/ghacks-user.js/blob/4604cf0d4ebc0aef81a89bbb971461018ed68370/user.js#L1655

For preventing browser's fingerprinting, it is disabled. Users can click on it to make it *true*
this is one of the values that passd from Tor Project to Firefox.

[2019-01-04 18:19] Atavic commented on #84
Yes, see:

https://github.com/ghacksuserjs/ghacks-user.js/blob/master/user.js#L1655

For preventing browser's fingerprinting, it is disabled: users can click on it to make it *true*.

This is one of the values that passed from Tor Project to Firefox.

[2019-01-04 18:35] gerroon commented on #84
Ok thanks, I appreciate your help

[2019-01-04 19:47] intika commented on #84
@gerroon let us know if you need further assistance :)

[2019-01-04 19:47] #84 closed

[2019-01-06 04:27] donuts12 opened #85 "SSL_ERROR_NO_CYPHER_OVERLAP"
This message keeps popping up on some websites and can't install any addons (tried right clicking and updating and it won't work)

[2019-01-06 09:03] intika commented on #85
Hi, thank you for your feedback, first this will be fixed on next version.

- Updates for addon is disabled, to install an addon or update it you can do it as usual from https://addons.mozilla.org/en-US/firefox/ by clicking the green button "Add to Firefox" on the addon's page that you want to install, let me know if it does not work in detail when you click "Add to Firefox"

- for `SSL_ERROR_NO_C

[2019-01-06 09:03] #85 closed

[2019-01-06 15:41] dimqua commented on #72
@intika could I suggest to use [Gitter](https://gitter.im/) as a development chat? The reasons are:
* It's accessible by everyone who has GitHub/GitLab/Twitter account;
* It can be used trough IRC client, see [irc.gitter.im](https://irc.gitter.im/) for more info;
* It's bridged with a [Matrix](https://matrix.org/) network.

[2019-01-06 15:58] intika commented on #72
@dimqua yeah why not if we need to have something like a general meeting or something sure we'll be using that but nothing on the project's main page because it would be an other channel to watch and answer for support.

[2019-01-06 16:43] colbycdev commented on #72
I personally prefer telegram because:
-It's highly secure and private
-You can talk in a group, supergroup, or PM
-All you need is a phone #, and no password to remember
-Bots. Very useful, for instance @MissRose_bot
-You can have a private internal chat, and a public one for support
Your choice, though. I'm on Gitter as well

[2019-01-06 17:38] elypter commented on #72
requiring a phone number is not very private. even among those that require a phone number signal is a better choice

[2019-01-06 17:39] colbycdev commented on #72
@elypter It's to keep out spammers and bots
And it allows most VOIP numbers

_Sent from my TETRA using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-01-06 17:48] intika commented on #72
Indeed in this case signal will be a better choice... but anyway we are not there yet ;)

[2019-01-06 18:46] Atavic commented on #72
:+1: for @dimqua irc proposal.

[2019-01-06 21:36] intika commented on #71
@ribatamu i don't have a windows machine to test right now but i guess it's something in the `// Section : IJWY To Shut Up` the whole thing will be avoided once the new version will be finished

[2019-01-07 04:33] NotWorthKnowing commented on #71
Win 10, LF60.4ESR, only error in Browser Console mentioning devtools:
SyntaxError: JSON.parse: unexpected end of data at line 1 column 1 of the JSON data
Stack trace:
logOncePerBrowserVersion@resource://devtools/shared/base-loader.js -> resource://devtools/client/shared/telemetry.js:375:21
_pingTelemetry@resource://devtools/shared/base-loader.js -> resource://devtools/client/framework/toolbox.js:7

[2019-01-07 07:50] anchev commented on #72
On the contrary. Do some research.

That very statement contradicts the first one.

FWIW (and intika knows about that) XMPP + OMEMO is a
very secure and private FOSS combination. Also bear in
mind that security and privacy are also a matter which
relates directly to lower protection rings (down to
the hardware).

In any case this project doesn't seem to need ultimate
privacy as it is a public and

[2019-01-07 10:54] ribatamu commented on #71
@intika I can confirm what's the problem in the config file and the ESR version on Windows.

That's the entry lockPref("devtools.telemetry.tools.opened.version", "")

The default value should be {"DEVTOOLS_SCREEN_RESOLUTION_ENUMERATED_PER_USER":"60.4.0"}

I don't think that's causing any privacy concern.

[2019-01-07 12:19] intika commented on #72
This is why such thing should not be promoted in the main page but it could be used for a meeting at a fixed date/time with everybody for instance

[2019-01-07 12:20] colbycdev commented on #72
@intika Gotcha

_Sent from my TETRA using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-01-07 12:41] intika commented on #71
@ribatamu Thank you for reporting back that it will be helpful later on

[2019-01-07 12:52] intika commented on #59
@ribatamu (for dev tools fix)

[2019-01-07 15:56] theel0ja opened #86 "WebGL per-site toggle"
Per-site toggle for WebGL so some useful stuff, such as [Mapbox GL JS](https://www.mapbox.com/mapbox-gl-js/api/) can be unbroken when needed.

[2019-01-07 16:06] theel0ja commented on #39
I'd suggest only having [uBlock Origin](https://github.com/gorhill/uBlock) and maybe [HTTPS Everywhere](https://www.eff.org/https-everywhere) bundled and everything else shall be installed by the user if he wants.

[2019-01-07 17:53] intika commented on #39
@theel0ja uBlock Origin would be a lot for maintenance i prefer keeping that out... the main addon would just provide what can not be done on the core settings, kind of an addition to the core settings for an easy way to switch on/off...

[2019-01-07 17:57] intika commented on #86
Yes this is exactly what the main addon is meant for :)

[2019-01-07 17:57] intika commented on #86
This will be followed here https://github.com/intika/Librefox/issues/62

[2019-01-07 17:57] #86 closed

[2019-01-07 18:15] atomGit commented on #39
personally i would not suggest HTTPS Everywhere - it relies on an imperfect 3rd part list which, in my opinion, is a super-dumb way to handle the problem  - and Smart HTTPS doesn't work with containers, as i was informed - that leaves a brand new one - [HTTPZ](https://github.com/claustromaniac/httpz) - by claustromaniac - it's simple and (so far) it works and there's nothing to configure, so it sh

[2019-01-07 19:47] dimqua commented on #39
@atomGit HTTPZ is great, but it uses a list of ignored hosts which is temporary (unlike Smart HTTPS). It is not very convinient, IMHO.

[2019-01-07 20:11] atomGit commented on #39
actually i see that as a plus - with Smart HTTPS, if an https site takes too ling to load, by default it's added to a list, redirected to http, and will always load as http from then on - not good - i actually used to dump that list every so often to avoid the problem - HTTPZ works like Smart HTTPS without the whitelist

personally i don't mind hitting http sites with https requests because i thin

[2019-01-07 22:03] b16r05 opened #88 "[Suggestion] Add a snap package"
Not referencing but...  portableapp, deb, rpm, and appimage packages have been already suggested. I don't know if I missed it, but, a snap package would great. If it gets reviewed on OMG Ubuntu, that gets publicity... especially since Ubuntu is a widely used distribution and their snap packages solution used by many other Linux distros.

[2019-01-07 23:32] intika commented on #88
We will see if this is really needed later, but for the portability purpose AppImage is enough... and to be honest a more advanced portable solution would be Flatpak... From what i know, Snaps are not very aligned with the privacy thing etc.

But later on if any one is willing to add a snap support, why not.

[2019-01-07 23:32] #88 closed

[2019-01-08 02:46] colbycdev commented on #55
Let's make a full release independent of the main application. It'd get more users on board (because those settings files no one knew existed, except devs, are the unknown)

[2019-01-08 07:18] theel0ja commented on #39
I personally use uBlock Origin with default settings with few extra lists added, while uMatrix handles third-party script blocking etc. Just a personal preference.

[2019-01-08 12:55] b16r05 commented on #88
Just wanted to put this out there. Yes, I also meant flatpak... I was forgetful : ) You know more about snaps privacy issues... probably because of shared libraries. Anyway, sounds like: flatpak>snaps>appimage, if one can actually compare them : )

[2019-01-08 13:41] intika commented on #88
Yes, wait and see for the moment it's a little too soon to expand the builds

[2019-01-08 16:51] elypter commented on #39
however the approach to be able to set each rule for each resource is something very powerful and understandable by everyone. it's just that a giant colored table overwhelms them. alternatively you could just show the tree of resources and when clicking on one a dialog shows up that allows to set individual rules.

[2019-01-08 17:18] b16r05 commented on #39
@intika

I am still reading the Readme.MD (quite long : ) and the addons sections...

Question 1: You mention that recommended addons must be installed manually. Can this be automated? Or, is it too much? What I mean is... whichever addons are recommended, they could be automatically installed in bulk. Perhaps, you could give users the option to check/uncheck for individual recommended addon optio

[2019-01-08 18:02] intika commented on #39
@b16r05 there is no plan in automating addons installation nor bundling addons the next version would have a lot of features integrated and switchable over settings, and a single Librefox addons that complete the whole thing for advanced users... in other words the browser will have main privacy/security option available natively, and there will be a single addon for users willing to have max enfo

[2019-01-08 18:31] Atavic commented on #39
Short answer is FPI, see: https://github.com/ghacksuserjs/ghacks-user.js/issues/395

I trust FPI more than Containers because the latter doesn't isolate:
Exceptions for Invalid TLS Certificates, HSTS Flags, OCSP Responses

See: https://wiki.mozilla.org/Security/Contextual_Identity_Project/Containers#What_is_.28and_isn.27t.29_separated_between_Containers

Comparing FPI, Containers and PB Mode: http

[2019-01-08 19:07] atomGit commented on #39
ditto - plus FPI is native whereas containers are sorta not native i believe - and since they are in some ways redundant, i prefer to avoid that redundancy

i realize i'm going off-topic here (feel free to spank me), but i have a Q regarding FPI:

let's look at FPI like containers for the sake of this example - you have previously visited example.com with FPI enabled and now (in order to log-on or

[2019-01-09 08:12] hubba900 opened #89 "Bot checks every time"
Every time when I try to log into some sites (like tripadvisor) I should perform anti bot checks (choose traffic lighters, crossroads, etc). Is it proper way how to skip it? This is very annoyed.

[2019-01-09 11:58] hubba900 commented on #89
Could you provide settings for mozilla.cfg? I have comment lockPref("network.cookie.lifetimePolicy", 2), but this is not enough. :-(

[2019-01-09 12:45] intika commented on #89
You changed the right setting :) but you need to change other things as well here is what to do to stay connected on sites and avoid bot check :

1. Comment `lockPref("network.cookie.lifetimePolicy", 2) ` by adding `//` at the beginning of the line under the file `mozilla.cfg`

2. Open Firefox's preferences, under "Privacy & Security" (about:preferences#privacy) right to `Clear history when Firefo

[2019-01-09 12:59] tuzohetoruyu opened #90 "Custom Fake Useragent"
i fear the point where a exploit is found in ff, while it is fixed in the common version
librefox will continue be available as target. with that i mind i would prefer so fake the
useragent to another browser engine (safri,opera,chrome) and auto disable javascript functions which are only available in firefox engines. so exploits cant detect what real browser engine ur using,
best would be to fake

[2019-01-09 13:07] intika commented on #90
Thank you very much for you feedback :)

Current/Old build instruction can be found here https://github.com/intika/Librefox/tree/9f8b1260e486ffc2fe8a0bb267108f71773c72a3#building-and-packaging i will add other build instruction once v3 will be published... currently it's not needed because the project is just a set of config files

[2019-01-09 13:07] #90 closed

[2019-01-09 13:08] intika commented on #90
Let me know if you need further infos ;)

[2019-01-09 13:10] intika commented on #90
For the Useragent settings i think it's better to leave the choice to the user because of RFP and other related things

[2019-01-09 14:00] tom3695 opened #91 "Question"
Great idea, very good job!

How can i see, thats librefox is realy activating?
please can you add a symbol, a signal or similar that
we can see its working or the modification is active?

thanks in advance

[2019-01-09 14:00] dimqua commented on #89
Is this technique require third-party cookies to be enabled?

[2019-01-09 14:18] tuzohetoruyu commented on #90
okay yeah maybe ur right about this, but how frequently will be security updates applied. i mean one
day could be to late. i'm looking forward developing a ff addon for these purpose.  Ty for the build info

[2019-01-09 14:52] intika commented on #90
There is always 0day un leaked exploit... if you disable JS you should be good in most situations

[2019-01-09 15:00] intika commented on #89
Yes and no... (https://browserleaks.com/social) if it's a service from google let say (youtube etc.) third party not required otherwise yes it is required

[2019-01-09 15:00] intika commented on #91
Thank you for you feedback :) v3 will have its own trademark and profile and thus solve this

[2019-01-09 15:00] #91 closed

[2019-01-09 15:05] fmilligan commented on #8
This is a must for Android users, like me. It looks and sounds great, but I can't actually use it

[2019-01-09 15:07] intika commented on #8
@fmilligan can you please develop

[2019-01-09 15:10] fmilligan commented on #8
@intika I'm not sure on the requirements, but if you give me what you need, I can certainly try

_Sent from my TETRA using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-01-09 15:13] intika commented on #8
When ready it will be released on the Playstore and F-droid...

[2019-01-09 20:42] Atavic commented on #39
https://github.com/ghacksuserjs/ghacks-user.js/issues/395#issue-310329383

FPI comes from Tor, you can see it close to an *Identity* in Tor Browser. You're supposed to close Firefox - and totally clear/wipe session data - and not just disable FPI.

[2019-01-09 20:45] Atavic commented on #39
FPI comes from Tor, it's close to an *Identity* in the Tor Browser.

In Firefox, you're supposed to close it - and totally clear/wipe session data - and not just disable FPI, otherwise:

See 1st post of https://github.com/ghacksuserjs/ghacks-user.js/issues/395

[2019-01-10 01:31] gerroon opened #92 "SSL error with https://lists.gnu.org/"
Does this mean gnu list site is using a lesser or old ssl encryption? I cant tell why Librefox is refusing to show the page.

[code]

[2019-01-10 03:33] intika commented on #92
Hi, thank you for your feedback, and yes you guessed right... it's using an insecure ssl certificate (PKCS # 1 SHA-256 With RSA Encryption)

[Is using “SHA-256 with RSA-2048 Encryption” a secure certificate hashing algorithm?](https://security.stackexchange.com/questions/122156/is-using-sha-256-with-rsa-2048-encryption-a-secure-certificate-hashing-algorit)

I will see how to implement an easy solu

[2019-01-10 03:33] #92 closed

[2019-01-10 04:06] elypter commented on #39
this post is about the possible breakages with fpi https://www.ctrl.blog/entry/firefox-fpi

does fpi support grouping like with containers where a certain set of domains access the same stash of user data?

[2019-01-10 04:35] gerroon commented on #92
Damn you Gnu!

[2019-01-10 18:12] Atavic commented on #89
*privacy.firstparty.isolate.restrict_opener_access* set to false lowers some isolation rules and can help those logging into Google or Facebook.

[2019-01-10 18:12] Atavic commented on #39
*privacy.firstparty.isolate.restrict_opener_access* set to false lowers some isolation rules and can help those logging into Google or Facebook.

[2019-01-10 18:16] Atavic commented on #89
Related issue: https://github.com/pyllyukko/user.js/issues/437

[2019-01-10 20:08] brokoli-mate opened #93 "Search engine buttons in address box missing."
Expected: Search engines button appearing when typing something in address box when no search box present, just like in Firefox.
Actual: Nothing appears

[2019-01-10 20:31] intika commented on #93
Thank you for your feedback.

You need to remove or comment `lockPref("browser.urlbar.oneOffSearches", false);` under `mozilla.cfg` this will be fixed in v2.2

Let me know if you need further help

[2019-01-10 20:31] #93 closed

[2019-01-11 03:38] gerroon opened #94 "Librefox-2.1-Firefox-Win-64.0.0-x64.zip is 40kb"
I only get a 40kb zip with this Librefox-2.1-Firefox-Win-64.0.0-x64.zip

[2019-01-11 04:52] gerroon commented on #94
Thanks for the update

[2019-01-11 16:59] brokoli-mate opened #95 "How to use Librefox simultaneously with Firefox"
I would like to have separate profile in separate directory "librefox".
When i first started librefox i was confusen because i ran into my firefox profile. So I have created new one and set it to use as default, but then I get firefox with the same profile and i am aware of firefox changing settings to less secure.
P. S. I know that there is a way to add the path of profile to exec command, but th

[2019-01-11 17:09] intika commented on #95
https://github.com/intika/Librefox/issues/55 once this will be done, the profile issue will be fixed,
also duplicate of https://github.com/intika/Librefox/issues/44

In the current situation if you want to separate Librefox from Firefox indeed you need to:
- Add a different profile for Firefox
- Make a copy of Firefox's install directory (to convert it to Librefox by applying the Librefox's config

[2019-01-11 17:09] #95 closed

[2019-01-11 17:50] theel0ja opened #96 "Can't install addons that require Firefox 61+"
For example, https://addons.mozilla.org/en-US/firefox/addon/refined-github-/

[2019-01-11 19:34] intika commented on #96
This is because of resist fingerprint feature and and probably also the zero communication feature. i will probably add a switch for mozilla addon page i added this to https://github.com/intika/Librefox/issues/3 and it will be followed there...

Thank you for reporting that :)

[2019-01-11 19:34] #96 closed

[2019-01-12 14:44] LennyPenny commented on #81
@intika thanks for that tip! I changed it in the settings page, but my history is still getting cleared every time I close librefox.

Is there a way to keep the history?

[2019-01-12 16:48] intika commented on #81
Can you try under Preferences/Privacy/History select "Remember history" on the drop drown list

[2019-01-12 16:50] LennyPenny commented on #81
Oooh thanks, got it now :)

[2019-01-13 18:47] Brotherlui opened #97 "problems with Google recaptcha"
Hi, i really would like to thank you providing us enhanced security with Librefox.
After installing, i´ve got problems with Googles reCAPTCHAs not working properly anymore.
Solved puzzles are not recognized anymore, switching to audio results in a statement
"Your computer or network may send automated requests. For the protection of our users, we are currently unable to process your request. More

[2019-01-13 18:52] intika commented on #97
Thank you for your feedback, this is a duplicate of the issue https://github.com/intika/Librefox/issues/89
indeed this is a side effect of privacy, this is because of cookies most of the time, for example the Google Captcha which is used widely will let you in without verification if you are logged into your google account or if it detect other activities like amazon etc. (over cookies), there is

[2019-01-13 18:52] #97 closed

[2019-01-13 18:53] intika commented on #97
Let me know if you need further help ;)

[2019-01-14 03:29] DI555 commented on #8
Whould like to ask about one feature of it! If planned to develop fennec,- Android fennec version uses 2 different UI for tablet and smartphone types! Please add a switch/key to use that types manually!

[2019-01-14 08:37] thrdroom opened #98 "Can't copy text from Nextclouds text editor anymore"
After installing Librefox i can't copy text in Nextclouds text editor anymore.
Im using Firefox 64 on MacOS.

Below is the html sourcecode sample of the text editor.
Please let me know if you need any further information.

`<div id="editor" class=" ace_editor ace-clouds"><textarea class="ace_text-input" autocorrect="off" autocapitalize="off" spellcheck="false" style="opacity: 0; height: 15px; widt

[2019-01-14 18:13] intika commented on #98
Thank you for your feedback, Nextclouds is probably accessing clipboard in write mode as well as read through java-script

Under the file `mozilla.cfg` remove the lines

`lockPref("dom.event.clipboardevents.enabled", false);`
and
`defaultPref("clipboard.autocopy", false);`

Save and restart the browser... v3 will fix this issue ;)

[2019-01-14 18:13] #98 closed

[2019-01-14 18:13] intika commented on #98
let me know if you need further help ;)

[2019-01-14 19:15] thrdroom commented on #98
Awesome! Thank you ;)

[2019-01-15 01:01] gerroon opened #99 "No addon update?"
Hi

Is the update for addons disabled? I cant seem to be able to search or update addons, I d onot mean auto update, talking about manual update.

thanks

[2019-01-15 01:04] intika commented on #99
Yes it is disabled it's part of the feature that disable all connection to mozilla and addons auto-updates... i am aware of that and it will be fixed in v3...
i added this to https://github.com/intika/Librefox/issues/3 and it will be followed there

[2019-01-15 01:04] #99 closed

[2019-01-15 01:12] gerroon commented on #99
If the whole auto updates/phoning can be fully disabled that would be great, however keeping track of addons manually is a bit of hassle for sure

[2019-01-15 01:13] intika commented on #99
it's not a problem i will find a way ;) as updating addons is important :+1:

[2019-01-15 04:16] #59 closed

[2019-01-15 04:21] intika commented on #67
https://github.com/intika/Librefox/issues/3

[2019-01-15 04:21] #67 closed

[2019-01-15 09:34] theel0ja commented on #8
https://f-droid.org/packages/org.mozilla.fennec_fdroid/

[2019-01-15 09:36] theel0ja commented on #8
Firefox Focus, Klar, etc. aren't main Firefox based so they should just be forgotten.

https://www.ctrl.blog/entry/mozilla-gecko-focus

[2019-01-16 02:58] brainscar opened #100 "Suggestion to bring previous feature back"
Hi :)

I remember in earlier releases it was recommended to delete several files:

updater (executable), updater.ini, crashreporter (executable), crashreport.conf etc. (also, I found pingsender executable in that same directory).

Maybe we can bring the suggestion to delete those files back?

Also several default .xpi files can be deleted safely.

Thank you!

[2019-01-16 03:05] intika commented on #100
They are currently disabled with the settings on the mozilla.cfg etc... i was deleting them to double patch (setting and remove the code)... i don't want to make the install process too complicated for the current version it's why i removed those instructions.

But sure the feature will be back/included for sure once i finish v3 i am also removing integrated xpi (that mozilla hard-coded in firefox

[2019-01-16 03:05] #100 closed

[2019-01-16 03:07] brainscar commented on #100
Thank you @intika

[2019-01-20 09:31] brainscar commented on #3
- #67 remove url bar spacing by default

toolbarspring:

https://hg.mozilla.org/mozilla-central/file/tip/browser/base/content/browser.xul#l887

https://hg.mozilla.org/mozilla-central/file/tip/browser/base/content/browser.xul#l1069

[2019-01-22 20:10] Atavic opened #102 "Prefs update v65"
*network.connectivity-service* [prefs in FF 65](https://github.com/ghacksuserjs/ghacks-user.js/issues/610):

[code]

...are a group of unneeded entries unless you use [Sync account](https://github.com/intika/Librefox/issues/30) and maybe [Push notifcations](https://github.com/intika/Librefox/issues/1).

Windows NCSI is exactly the same as FF *network.connectivity-service* prefs, as both do:

- A D

[2019-01-22 20:15] intika commented on #102
Great thanks for reporting back i'll take care of that ;)

[2019-01-24 03:18] NotWorthKnowing commented on #29
Thanks for trying anyway... had a brief glimmer of hope but it looks like it's game over.

[2019-01-24 03:49] budetisufu opened #103 "Change browser language"
Hey. What settings are responsible for the browser language? As for me, the configuration file is badly commented. This is confusing.

[2019-01-24 04:01] colbycdev commented on #29
@NotWorthKnowing Are you referring to the deprecation of webRequest?

_Sent from my TETRA using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-01-24 10:23] intika commented on #29
This is an aside project i can not abandon everything and works only on Librefox. it's not game over it just takes time

[2019-01-24 10:30] intika commented on #103
Hi, if you mean the interface your Firefox needs to be in the language you want before applying Librefox... or you can install a language pack of your choice

Firefox language version: https://www.mozilla.org/en-US/firefox/all/

Language packs: https://addons.mozilla.org/en-US/firefox/language-tools/

[2019-01-24 10:30] #103 closed

[2019-01-24 11:32] intika commented on #103
https://github.com/intika/Librefox/pull/104 fixed this...
You could remove "lockPref("intl.locale.requested", "en-US");" from the `mozilla.cfg` that should help
i added this to https://github.com/intika/Librefox/issues/3 for further investigation... its not a hasty closure ;)

[2019-01-24 16:55] Techguyprivate opened #106 "Enabling Encrypted SNI"
https://en.wikipedia.org/wiki/Server_Name_Indication

https://news.ycombinator.com/item?id=18250151

https://www.eff.org/deeplinks/2018/09/esni-privacy-protecting-upgrade-https

https://blog.cloudflare.com/esni/

https://blog.mozilla.org/security/2018/10/18/encrypted-sni-comes-to-firefox-nightly/

https://blog.cloudflare.com/encrypted-sni/

[2019-01-24 17:02] Techguyprivate commented on #72
What about splitting tor development and librefox ?

What about having a dev or beta and stable releases?

Is it possible?

[2019-01-24 17:42] NotWorthKnowing commented on #29
Intika, you misunderstood, has nothing to do with pace of development.   @colbycdev is correct.  Since this is at the core of what a browser does, I don't see how you can work around it.  And at some point it's time to give up on fixing everything they break.  If you think you can bypass these restrictions I want rule out trying a future version of Librefox.  But I'm not optimistic at all, and a b

[2019-01-24 18:22] elypter opened #107 "Build system as aseperate project"
could you release the future toolchain used to build up to date version as a seperate project? this will keep the librefox repo compact and allow others to reprpose it for other software and contribute without having to deal with the details of the browser but focus on the task of automatically keeping forked software up to date.

[2019-01-24 18:38] Atavic commented on #106
See: https://github.com/ghacksuserjs/ghacks-user.js/issues/612

Librefox is based on: gHacks-user.js, pyllyukko-user.js and privaconf

[2019-01-24 23:32] intika commented on #72
@Techguyprivate this is too soon for that we will see later on; dev/beta release is already in the todo list but this is not something important right now...

[2019-01-24 23:39] intika commented on #29
@NotWorthKnowing toward what are you referring exactly ? can you post some links

[2019-01-25 01:07] intika commented on #107
In an other repo i don't know yet but for sure i will keep things separated i am working on the new version and it's crazy that you posted that today because i was thinking early about splitting Librefox Browser and Librefox mozilla.cfg... but on the repo side thing not the application it self... any way short answer yes it's planned :)

[2019-01-25 01:07] #107 closed

[2019-01-25 01:07] intika commented on #107
don't hesitate to let me know if there is something else ;)

[2019-01-25 01:15] intika commented on #106
Short answer, it's too soon for this... now enabling it or not, it depend you will need DNSoverHTTPS... using cloudflare is great but it may not comply with the privacy... at the end of the day i think the user need to have the choice and the choice need to be easy to do not over complicated config fire or so...
any way i am adding this to https://github.com/intika/Librefox/issues/3 as a reminder

[2019-01-25 01:15] #106 closed

[2019-01-25 01:16] intika commented on #106
Don't hesitate to post back or comment ;)

[2019-01-25 03:20] budetisufu commented on #103
This does not solve the problem. The language did not change after installing librefox over firefxox, installed from the repositories.

[2019-01-25 03:49] bogachenko commented on #103
@budetisufu you have commented out `lockPref("intl.locale.requested", "en-US");` in file mozilla.cfg? or not? Restart your browser. Once you comment out this parameter, the value is reset to an empty string.
![default](https://user-images.githubusercontent.com/8535285/51724202-2749cb00-2054-11e9-80e6-d5ed2eb3080a.png)
 download the language pack from the site mozilla.org. and then manually type th

[2019-01-25 04:13] budetisufu commented on #103
Of course commented out. I don't need to download anything. Everything is already in the system. Downloaded from the Mozilla site has no problems.

[2019-01-25 13:01] intika commented on #103
@budetisufu a couple of question to be able to help you the right way:
- Without Librefox, is you firefox install in the language you want ?
- Do you have the language pack installed ? (about:addons then language pack)
- `lockPref("intl.locale.requested", "en-US")` is meant for the displayed webpage not for the interface... i though this affected the interface
- What's the language you want to use

[2019-01-25 13:05] bogachenko commented on #103
he downloaded the already translated version

[2019-01-25 13:08] intika commented on #103
@bogachenko thank you for helping out on this one :)... wait and see what's his answer it's not clear

[2019-01-25 13:11] intika commented on #103
i think i found the problem...

[2019-01-25 13:12] bogachenko commented on #103
?

[2019-01-25 14:02] intika commented on #103
First thing first the add button when installing language package does not work because of resistFingerprinting feature that spoof the wrong Firefox's version to the Mozilla's addons site... and other telemetry settings that disable Mozilla's site from using infos about the browser

@budetisufu Here is a detailed solution

1. Check that you have the language pack of the desired language installed

[2019-01-25 21:45] Atavic commented on #29
[Wow, Fancy That. Web Ad Giant Google To Block Ad-Blockers In Chrome](https://www.theregister.co.uk/2019/01/22/google_chrome_browser_ad_content_block_change/)

^^The issue will break webextensions on Google Chrome, not Firefox. If it will hit Firefox, external solutions as Pihole, or system-wide tools as a DNS server like:
https://zenz-solutions.de/personaldnsfilter/
...will always work.

The latt

[2019-01-25 22:36] elypter commented on #29
external solutions are far from ideal. they only work partially and currently mostly work because the majority uses browser extensions that can theoretically block everything. once the mojority uses dns based blocking or even just mere ip based blocking once dns over https gains traction websites will quickly shift to ways that cannot be blocked with such tools.

[2019-01-25 23:23] intika commented on #29
humm interesting, this could lead to more user going back to Firefox **IF** Mozilla don't follow the move... now regarding the fact that Firefox integrated a light ad blocker it could be a preparation for a future similar change.

On the other hand i don't think Google is willing to loose a big market share just to be able to display its ads.

Wait and see.

[2019-01-25 23:34] Atavic commented on #29
Some users will revert, but Google has something like 80% of the market.

[2019-01-26 01:36] budetisufu commented on #103
Now everything works! Thank you very much!

[2019-01-26 06:00] Techguyprivate commented on #106
I was on the same boat few days ago.  . Cloudflare's privacy policy was crappy for me. But a recent trip to China, India & Australia changed my view. We have to very careful & smart. There is nothing as perfect privacy.

The most important thing to keep in mind :

1.  what is the alternative?
 2. If we don't do that, what we are ending up with ?
 3. Something(security) is better than nothing.
 4.

[2019-01-26 10:40] szepeviktor commented on #55
@intika Could you please keep the the small ZIP release for technical people?

[2019-01-26 11:57] intika commented on #55
Yes it's intended :)

[2019-01-26 12:32] dimqua commented on #106
It's getting so popular because   it works in web browser. For DoT and DNSCrypt v2 you need an additional client to use them.

[2019-01-26 12:48] Atavic commented on #106
@Techguyprivate :+1: for your report. I'm in europe, so DPI isn't involved here, allegedly... interesting info, I'm trying to follow https://github.com/ValdikSS/GoodbyeDPI and I see that there are some VPN that use advanced PAC Files, like: http://antizapret.prostovpn.org/

^A related comment: https://github.com/ghacksuserjs/ghacks-user.js/issues/619#issuecomment-457766022)

Promoting articles pop

[2019-01-26 13:20] Techguyprivate commented on #106
DoT is the future though . One good feature of  DoH with ESNI is Circumventing censorship, preventing eavesdropping and manipulation of DNS data by man-in-the-middle attacks, hiding it under normal https. DoT stands out in the crowd for now.  DoH have little bit better performance too.

But, yes, DoT is much better and the future too, it seems.

[2019-01-26 19:18] gerroon opened #108 "Any news?"
Hi

Can you guys give us some update on where the project is headigm, or is it heading forward?

thanks

[2019-01-27 00:11] gerroon commented on #108
Sounds awesome

[2019-01-28 12:45] shreyasminocha commented on #72
Can help with design, javascript, and language.

[2019-01-28 15:30] intika commented on #72
Thank you Shreyas, adding you to the team ;)

[2019-01-28 16:20] intika commented on #108
- I will be attending [FOSDEM](https://fosdem.org) as a visitor this weekend (Saturday and Sunday), will meet with @AnXh3L0 to discuss Librefox's website and other design aspect. anyone willing to join us is welcome :) just let us know here

[2019-01-28 16:34] shreyasminocha commented on #108
We could use Github's "Projects" feature to track releases/roadmaps.

[2019-01-28 16:42] shreyasminocha commented on #72
@intika Thanks.
PS: You got my name right the first time 😆.

[2019-01-29 05:36] shreyasminocha opened #111 "Add a wiki page"
Could we move documentation for the rules in `mozilla.cfg` out of the file and instead use either `docs/rules` with markdown files or Github's wiki feature (I personally prefer the former)? This would make going through the rules much easier. Permalinking to a certain Librefox-modified rule's documentation would be easier. Scrolling through the `mozilla.cfg` when you're looking for something speci

[2019-01-29 19:39] intika commented on #27
@daert thank you for your contribution it's appreciated :) did you post that on aur ?

[2019-01-29 20:19] intika commented on #111
Thanks you Shreyas,

- Removing the documentation from `mozilla.cfg` is not a good idea as we would need to check the wiki plus `mozilla.cfg` when we want to edit/change something this would make the development of the cfg file consume more time.

- Having additional/copied documentations in a github's wiki page is good idea, **but** i think this would be counterproductive if we fill that wiki wit

[2019-01-29 20:31] intika commented on #27
@daert that would be awesome if you have the time of course :)

[2019-01-29 20:46] daert commented on #27
No problem, I'm happy to help in this project

[2019-01-29 21:33] dessalines commented on #27
Yes please, just add it under a different name if necessary.

[2019-01-29 21:47] daert commented on #27
Ok, I've sent an email to the maintainer of that repository, but I see that there is no issue.

So, I will create a new repository, like librefox-config or librefox-cfg or some other name if you don't like them

[2019-01-29 21:53] intika commented on #27
Thank you :) feel free to choose the appropriate name, `librefox-cfg`/`librefox-config` is a very good idea because the config file set is intended to be kept even after the independent release.

[2019-01-29 22:06] daert commented on #27
librefox-cfg it is. It's already online

[2019-01-30 02:59] intika commented on #20
Following some communication with Mozilla, and to respect their work, the logo won’t use a fox or something wrapped around a globe, or anything that is closely associated with Mozilla’s logos.

I will discuss that with @AnXh3L0 this weekend

Feel free to post something if you have an idea about the logo

[2019-01-30 04:06] elypter commented on #20
did mozilla trademark foxes?

[2019-01-30 04:09] fmilligan commented on #20
Lol, probably
If I may suggest, I would do something along the lines of an escaped/free fox, a dark theme version.
________________________________
From: elypter <notifications@github.com>
Sent: Tuesday, January 29, 2019 11:06:53 PM
To: intika/Librefox
Cc: Subscribed
Subject: Re: [intika/Librefox] Librefox logo... (#20)

did mozilla trademark foxes?

—
You are receiving this because you are subscr

[2019-01-30 04:54] shreyasminocha commented on #20
Quoting from https://design.firefox.com/photon/visuals/product-identity-assets.html

[2019-01-30 10:32] shreyasminocha opened #113 ""Recommended by undefined""
In `about:preferences#home`, under "Firefox Home Content", there's "Recommended by undefined".

[2019-01-30 10:37] intika commented on #113
This is disabled any way the "undefined" is probably caused by the zero network communication feature

[2019-01-30 10:38] intika commented on #113
This will be followed here https://github.com/intika/Librefox/issues/3

[2019-01-30 10:38] #113 closed, assigned to nobody

[2019-01-30 10:39] shreyasminocha commented on #113
Yes. If there's a way to easily fix this, great. Otherwise we can let it be.

[2019-01-30 10:44] intika commented on #113
it's approved and added to the tasks i will check that out when i'll be working on that feature

[2019-01-30 11:09] intika commented on #111
initial wiki introduced here https://github.com/intika/Librefox/wiki i will update/add content later on, a task for it is added here https://github.com/intika/Librefox/issues/3 ;)

[2019-01-30 11:09] #111 closed

[2019-01-30 15:55] colbycdev commented on #108
@intika If I didn't live so far away....

_Sent from my TETRA using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-01-30 16:16] Atavic commented on #113
It is related to the snippets service.

[2019-02-02 17:43] Techguyprivate opened #115 "Disable TLS 1.0/1.1"
I think that it will be good for privacy and security to disable tls 1.0 & 1.1 completely . They are old &  vulnerable. They are dangerous, false security.

Setting tls.version.minimum to 3 in about:config does that. But better will be completely removing the entire code. Chrome wants to do it before next year, i.e before 2020. Same for firefox.

Chromiun based browser have already done it.

Examp

[2019-02-02 20:18] Atavic commented on #115
Both ghacks user.js and pyllyukko have:
*user_pref("security.tls.version.max", 4);*

[2019-02-03 05:14] Techguyprivate commented on #115
I think that Security.tls.version.minimum should be set to 3 to disable TLs 1.0 &1.1 . Setting security.tls.version.max", 4 enables TLS 1.3 .

[2019-02-03 17:34] Atavic commented on #115
ghaks user.js has *user_pref("security.tls.version.min", 3);* commented out (inactive).

Pyllyukko sets: *user_pref("security.tls.version.min", 1);*

[2019-02-03 17:35] Atavic commented on #115
ghacks user.js has *user_pref("security.tls.version.min", 3);* commented out (inactive).

Pyllyukko sets *user_pref("security.tls.version.min", 1);*

[2019-02-03 17:36] Atavic commented on #115
A few sites still use old TLS versions.

[2019-02-03 17:43] Techguyprivate commented on #115
Librefox aims to be secure & private. So it should be disable. Chrome disabled it already.

[2019-02-03 17:59] intika commented on #115
Thanks for reporting that i will change it in the upcoming update ;)

[2019-02-04 11:47] rakshazi commented on #55
Hello, when will be the 2.2 release available?
Could you share any updates, please?

[2019-02-06 09:15] user858753257 commented on #55
Is the actual Build a standalone version ?

[2019-02-06 09:18] shreyasminocha commented on #55
@F3000 That's the plan, eventually. This issue tracks that goal.

[2019-02-09 08:33] KOLANICH opened #116 "Move XPIs to release section"
1 You will need to rewrite history ([there is an app for that](https://github.com/rtyley/bfg-repo-cleaner)), otherwise the wasted space won't be reclaimed.
2 It is not a good idea to store xpis in the repo at all.

[2019-02-09 09:29] intika commented on #116
I will move them to release section later on ;)
They will be moved from there anyway

[2019-02-09 09:36] KOLANICH commented on #116
IMHO XPIs should be installed from the files provided by their authors, not the ones stored separately. Extensions are separate products, let's not mix them with the browser. They can be installed by default, but they should be installed not from bundled xpis, but from the ones supplied by their authors. In other words, when a browser creates a new profile, it should ask its user if a user needs t

[2019-02-09 09:45] intika commented on #116
Those xpi versions are reviewed, it's why i made a copy there (a reviewed version, `code check/review`) newer version may add unwanted behavior... but yes this should even be on a different repo/release-section with a similar solution to the one you exposed ;)

[2019-02-09 11:21] KOLANICH commented on #116
It is good they are reviewed, but you can store only their locations and hashes.

[2019-02-09 13:54] maverick74 commented on #62
I'm searching for somekind of add-on that would bring Firefox the same privacy level protection that Tor browser has (when it does not have any Tor-specific software installed)

But Firefox won't get it until

https://wiki.mozilla.org/Security/Tor_Uplift/Tracking

Gets solved...

Does this add-on has the same aim?

[2019-02-09 14:51] androidacy-user commented on #8
As of now, without a full release, is it possible to apply the files to the Android version? Both rooted or unrooted? And can you link to extension used in librefox?
My goal is to attempt to get a librefox like experience. I tried bromite, and did not like it

[2019-02-09 14:56] androidacy-user commented on #27
Is there a version for Ubuntu yet? (deb).

[2019-02-09 16:13] androidacy-user opened #117 "Update extensions"
Some extensions need an update on the github repo (such as ublock origin is now on 1.18.2 or later, repo on 1.17) Assuming the extensions in the repo are used for the browser too, they need update
Also, some extensions like first party isolation seem to be not supported anymore, as some extensions have not been updated in over six months. Maybe replace with better, more current ones, as they may b

[2019-02-09 18:23] Atavic commented on #62
GNU Icecat is closer to Tor for those looking privacy protection.

[2019-02-09 18:28] Atavic commented on #8
We only have the official Firefox for Android and Fennec left to review. Fennec seems a little more conservative - by looking at the about:config values - when compared to Firefox for Android.

[2019-02-09 18:30] androidacy-user commented on #8
Isn't fennec also by Mozilla?

_Sent from my TETRA using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-02-09 18:31] Atavic commented on #8
Yes.

[2019-02-09 18:34] androidacy-user commented on #115
I think minimum should be 1.2. Some sites haven't implemented 1.3 yet. TLS 1.0/1 were upgraded for a reason

_Sent from my TETRA using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-02-09 18:34] Atavic commented on #8
...[Fennec F-Droid](https://f-droid.org/en/packages/org.mozilla.fennec_fdroid/) is focused on removing any proprietary bits found in official Mozilla's builds.

[2019-02-09 18:36] Atavic commented on #8
See: https://android.stackexchange.com/questions/194088/is-fennec-f-droid-an-official-product-by-mozilla

[2019-02-09 19:00] dimqua commented on #8
Does Firefox for Android (and Fennec) have `mozilla.cfg` support?

[2019-02-09 19:04] dimqua commented on #62
Well, Tor browser can be used without Tor as well. But even unstable Tor browser versions are based on Firefox ESR.

[2019-02-10 03:21] gerroon commented on #108
Are you guys able to figure out how to go ahead with it?

[2019-02-10 09:42] atbanpc commented on #72
I noticed that Linux building is empty. I can help out with that as well.

[2019-02-10 17:55] Atavic commented on #8
https://support.mozilla.org/en-US/questions/1202266

[2019-02-12 23:43] bogachenkove commented on #8
@intika

https://support.mozilla.org/ru/questions/1202266 Is it supported configuration by mozilla.cfg? No. This config is for computers only. ONLY. It is created for a company or organization to control office rats. Tell them which settings you can use and which ones you can't. If in the company one computer can be used by different people, the phone is an individual thing. Am I wrong? I have the

[2019-02-13 23:35] user858753257 commented on #8
Hoe can I apply the enterprise desktop policies to the android version ?

[2019-02-14 00:03] androidacy-user commented on #8
I do not believe you can. As far as I'm aware of, Android Firefox doesn't even have the required files in the first place
________________________________
From: F3000 <notifications@github.com>
Sent: Wednesday, February 13, 2019 6:35:21 PM
To: intika/Librefox
Cc: colbycdev; Comment
Subject: Re: [intika/Librefox] Add android version... (#8)

Hoe can I apply the enterprise desktop policies to the an

[2019-02-18 05:10] intika commented on #13
Project mirrored here https://gitlab.com/intika/Librefox we will see how github evolve first, no plan to move for the moment

[2019-02-20 14:51] Serkan-devel commented on #27
Can an appimage version be done?

cc @probonopd

[2019-02-24 20:24] AlexIsNice opened #118 "Cant get it to install"
Hello,for the past atleast hour i have been trying to get Librefox setup,i downloaded 64.0 Installer (from the librefox github)And i also downloaded the windows config files,i dropped and dragged the files inside the Firefox folder (where firefox.exe is located)However when i open firefox it does absolutely nothing

I have uploaded a video on streamable to help with what am doing wrong

https://st

[2019-02-26 19:56] Atavic commented on #118
Locate Firefox's installation directory [here](https://github.com/intika/Librefox#installation-instructions).

[2019-02-28 22:20] DI555 commented on #8
@intika , could it be possible to build desktop ff version for android now?
(I didn't get it...... Isn't this topic about of? ;) )
...since mozilla imo plans to drop 'fennec' and targeting to 'focus' with geckoView(((

[2019-03-01 01:34] bogachenkove commented on #8
???

[2019-03-01 01:58] colbycdev commented on #8
@DI555 This issue is about the Android version, not the desktop version.

_Sent from my TETRA using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-03-01 16:02] Serkan-devel commented on #8
why should the desktop version of firefox be ported to android. I'm shure mozilla still provides mobile firefox on the google playstore and I though F-Droid are the ones who create those firefox builds

[2019-03-01 20:20] elypter commented on #8
the moble version doesnt offer nearly as many features?

[2019-03-01 21:23] gerroon commented on #108
no yes no no yes yes?

[2019-03-01 21:46] gerroon commented on #34
How do I unlock this? I need to install an addon but I cant due to this issue

privacy.resistFingerprinting

[2019-03-02 10:32] DI555 commented on #8
Features and UI richness in descending:
desktop Firefox -> Fennec for Android -> Focus for Android
So, porting desktop Firefox to Android will be great leap forward for Android browsers!

[2019-03-02 11:05] Serkan-devel commented on #8
@DI555 what are you talking about "features and UI descending"?
It's still the same codebase between desktop and mobile. I can still change the browser theme and install addons as usual
![screenshot_20190302-120205](https://user-images.githubusercontent.com/16866642/53681013-733b0000-3ce3-11e9-8d0a-320212b0794e.png)

[2019-03-02 11:08] Serkan-devel commented on #8
I think what you suggest is reinventing the wheel basically

[2019-03-02 14:31] Serkan-devel commented on #54
Maybe there could be a port of librefox to postmarketOS with it

[2019-03-03 18:12] ghc2018 commented on #8
To get user.js support on firefox-android, wouldn't it be the best way to implement an addon for firefox? This way it would even be possible to "switch" to various user.js "profiles" which differ in only some special options e.g. to make several sites work even with a less relaxed user.js.
This site seems to explain how to create such an addon:
https://developer.mozilla.org/en-US/docs/Mozilla/Add-

[2019-03-13 20:53] brainscar opened #119 "Has development halted?"
I remember reading something about copyright issues.

Is the project still proceeding?

Thank you! :+1:

[2019-03-14 20:01] #102 closed

[2019-03-15 12:39] shreyasminocha commented on #119
@intika [As you know, many people already find this project interesting](https://github.com/intika/Librefox/issues/29). Many of us use it personally, and some of us are enthusiastic contributors as well. We'd love to learn about the results of your conversations with Mozilla regarding the copyright issues (and also more about *what* copyright issues there were) and help in resolving those.

If you

[2019-03-16 20:02] BoostRacerKing commented on #119
@intika Are the Project still why the Programm is very good please not still the Project

[2019-03-17 18:27] gerroon commented on #119
Does anyone know if anybody actively maintains a fork of this project?

[2019-03-23 15:40] Serkan-devel commented on #119
I don't think the is a copyright problem with Librefox. Waterfox for example has existed for years and is still operating under that name.

[2019-03-23 16:30] shreyasminocha commented on #119
@Serkan-devel I wish so, but:

- https://github.com/Librefox/Librefox.github.io/issues/1#issuecomment-459003210
- https://github.com/intika/Librefox/commit/45a4d3ce647b8c896e81ce3e5ac5ddc95ff045e0#commitcomment-32173942, https://github.com/intika/Librefox/commit/45a4d3ce647b8c896e81ce3e5ac5ddc95ff045e0#commitcomment-32174421

[2019-03-23 17:58] Serkan-devel commented on #119
But didn't this repo have an icon similar to mozilla's which might have infringed on their trademark?

[2019-03-30 12:51] androidacy-user opened #122 "Update for Firefox 66.0.2"
Version 66 of stable Firefox is currently available, but this repo only supports up to 64

I'm not sure of any compatibility issues, but an update is needed sooner or later

_Sent from my moto g(7) using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-03-31 09:09] Serkan-devel commented on #122
Might get updated when the [legal issues](https://github.com/intika/Librefox/issues/119#issuecomment-475883871) get resolved

[2019-04-02 19:13] derixithy opened #123 "Librefox HTTP Watcher multi display"
HTTP Watcher will color the title-bar of all opened Firefox instances instead of (only) the current tab. This is especially noticeable when using it side-by-side or on multi screen which i'm using

[2019-04-03 00:15] BeatLink commented on #55
Are there any updates on this?

[2019-04-03 00:19] BeatLink commented on #122
Could you guys possibly come up with a completely new brand, in the event that Mozilla refuses to give the final go ahead?

[2019-04-07 12:20] Serkan-devel commented on #119
Could we make create a community maintained, temporary fork of Librefox?

It can be merged back to upstream when Intika is back

[2019-04-07 12:24] Serkan-devel commented on #119
Maybe under a different name and with a very different logo to prevent trademark infringement. Maybe one could look at other FF forks as how they set themselve apart from mozilla. Be it [Waterfox](https://github.com/MrAlex94/Waterfox) or [Pale Moon](https://www.palemoon.org/)

[2019-04-10 18:54] gerroon commented on #119
Hi

I found this repo , it is for Win atm moment but if there is enough intetrest maybe the dev starts building it for Linux as well

https://github.com/muslayev/iceweasel-win64

[2019-04-11 21:47] ryanmusante opened #124 "Firefox developer edition compatibility"
Is there plans to have compatibility with Firefox developer edition? I am using from Arch:
_community/firefox-developer-edition 67.0b8-1_

[2019-05-01 00:02] dimqua commented on #119
This is a fork of this project for Fennec and Firefox for Android:
https://github.com/quindecim/fennec_user.js

[2019-05-01 06:54] Serkan-devel commented on #119
@dimqua would you mind adding the license of the repo this is based on?

[2019-05-04 11:39] elypter commented on #119
is the progress just invisible or is just nothing happening anymore? or could it be that mozilla sent their lawyers to gag intika?

[2019-05-04 11:41] shreyasminocha commented on #119
@elypter

Wow, I hadn't considered that possibility. Interesting that you mention it. If so, it's really sad.

[2019-05-04 12:33] BoostRacerKing commented on #119
the problem is i can't program otherwise i would have further developed the program

[2019-05-04 19:33] BeatLink opened #125 "LibreFox has moved"
Due to the halting of development on this repository, we have created a new, community run successor to LibreFox, called LibreWolf. Check out the new organization here! https://gitlab.com/librewolf-community

[2019-05-05 00:39] SuperRobinHood commented on #125
LibreVixen (female fox). Or if Mozilla's still bothered by that, then maybe LibreHawk. Name's the least important though - should revive the project first.

[2019-05-05 05:02] petKitsune commented on #125
Vixen sounds nice
Icevixen?

don't know about LibreHawk
something more like a rodent
the power not to be seen

'should revive the project first'
yup

[2019-05-05 05:14] petKitsune commented on #125
Vixen sounds nice
Icevixen?

don't know about LibreHawk
something more like a chipmunk
the power not to be seen
Tamias  'Tamias sibiricus'

'should revive the project first'
yup

[2019-05-05 07:32] Serkan-devel commented on #125
Keep in mind that there are Firefox forks, like Waterfox or Palemoon for a long time already

[2019-05-05 08:24] shreyasminocha commented on #125
Which is why we need @intika to update us on the status of things. We could come up with alternate names, but we *need* to know what the issues are. In my opinion, an issue with naming is unlikely because as @Serkan-devel said, there are other similarly named forks. Unfortunately, we aren't hearing from @intika, *possibly* because they have been gagged by Mozilla. If only we could get an update fr

[2019-05-05 08:27] shreyasminocha commented on #119
See also: https://github.com/intika/Librefox/issues/125#issuecomment-489402915.

[2019-05-05 09:05] SuperRobinHood commented on #125
I wrote Intika an e-mail a long time ago asking about this, and he didn't reply. He's probably not coming back then. I mean couldn't he at least reply privately?

[2019-05-05 09:07] shreyasminocha commented on #125
@SuperRobinHood Nothing's private on the internet, of course, but I get your point. I once thought of writing to them too, but didn't.

*Sigh*

Let me create a fork.

[2019-05-05 09:16] shreyasminocha commented on #125
I've created [a fork on the org](https://github.com/Librefox/Librefox). I've given @intika admin access, in case they return. I don't know the in's and out's of the project, so I'd like to give some other people write access so they can review PRs as well. How do I go about this?

[2019-05-05 09:19] Serkan-devel commented on #125
One problem with directly forking a project is that Github won't show these forks in search results.
And search through files on that repo won't be possible either
![image](https://user-images.githubusercontent.com/16866642/57191607-cfaadd80-6f27-11e9-99e5-8fefb353e7c9.png)

[2019-05-05 09:19] shreyasminocha commented on #125
@Serkan-devel Yes, and we can't add a link to the main repo either since no-one but @intika has push access to it.

[2019-05-05 09:22] Serkan-devel commented on #125
Maybe one could clone the repo locally and push the fork as it's own repo, then migrate all the open issues from this repo to there

[2019-05-05 09:26] shreyasminocha commented on #125
Let me [contact support and ask them to switch Librefox/Librefox to 'normal mode'](https://stackoverflow.com/a/16052845), disassociating the repo from the fork. Can't delete the repo and redo since "Organization members can't delete repositories".

[2019-05-05 09:56] BoostRacerKing commented on #125
Why can not you not completely rewrite the program so make your own then you did not need @intika anymore he will not come back anymore. But I think it's a bit brazen of him that he can not give at least one answer to us where the problem is

The name LibreVixen does not sound bad

[2019-05-05 15:47] gerroon commented on #125
If you can devevelop this, just mirror it and start with a brand new repo and code base. There is no problem with that because the original devs clearly not in a position to communicate.

[2019-05-05 16:19] ghost commented on #125
I don't understand how DCMA or this gag order works. I mean, aren't they supposed to let those accused know what the infringing part is and tell them what to do with it... use as is, attribute, don't modify, stop completely or whatever!~
This happened to the Gadgetbridge repo: https://github.com/Freeyourgadget/Gadgetbridge ... it completely went offline because a notice was filed and github blocke

[2019-05-06 14:26] BeatLink commented on #125
If we do create a completely new organization, could we do it on gitlab? I do like the sound of LibreVixen as well by the way.

[2019-05-06 15:15] Serkan-devel commented on #125
Gitlab.com is still poprietary but that might be a possibility

[2019-05-06 15:17] Serkan-devel commented on #125
@shreyasminocha issues are currently disabled on your fork

[2019-05-06 17:36] shreyasminocha commented on #125
@Serkan-devel Fixed.

[2019-05-06 19:22] BeatLink commented on #125
Gitlab.com is proprietary? It runs on gitlab CE as far as i know

[2019-05-07 13:31] Serkan-devel commented on #125
I doubt it ever ran CE though
![image](https://user-images.githubusercontent.com/16866642/57303197-1aba2180-70dd-11e9-9f6d-4080427c733b.png)

[2019-05-07 22:46] i2mo commented on #125
Just want to bring up that "Vixen" (or Wixen, Wicksen) means "to wank" in german ;-)

[2019-05-07 23:00] BoostRacerKing commented on #125
Ja aber schreibt man nicht Wichsen so ?

[2019-05-08 05:35] Serkan-devel commented on #125
Ja, ebend

[2019-05-08 12:47] ghost commented on #125
Vixen and Fork(en), LOL : )

Forking this project is fine, but, let's say things go smoothly for a few days/weeks... what is to say that Mozilla won't slap the DCMA/gag order again. So, that road will lead to the same place. My suggestion is to brainstorm a list of things that could have caused Mozilla to react in such a manner! Trying to identify the issue is very important... this is where every

[2019-05-09 10:50] elypter commented on #125
I would try to avoid everything that could cause a tradmark issue but if mozilla sees "Librefox" as a threat then i assume they will try to go after anything they can. Mozilla doesnt want to protect their Brand but they want to kill projects that do not behave as they please. For that reason i want to suggest the option to move primary development over to a tor hidden service if that is feasable.

[2019-05-09 18:58] ghost commented on #125
#Trademark -- okay, but how? There are other forks and have been going strong for a while.
#"... kill projects that do not behave ..." - Okay, and how are we not behaving? This is where we need to come up with more ideas on where, what and how Mozilla sees this project as a threat. For example:

**Stronger security / privacy: but they are already cherry picking features from the TOR browser
**Inte

[2019-05-09 19:05] BeatLink commented on #125
Well, we could start by forking to Gitlab, and if anything, we can move to a self hosted instance once we have the resources. I've taken the liberty of going ahead and creating the repository here: https://gitlab.com/librevixen . Just message me with your usernames so I can add you.

As for the reasons firefox is angry, I'm not too sure. I believe firefox has a compile time option that should remo

[2019-05-09 20:07] gerroon commented on #125
See this fork of Iceweasel for Win, might offer some clue maybe?
https://github.com/muslayev/iceweasel-win64

[2019-05-09 21:52] brainscar commented on #125
@BeatLink please add me @brainscar

[2019-05-10 21:01] brainscar commented on #125
@theel0ja
@shreyasminocha
@nhynes
@yoasif
@bogachenko
@szepeviktor

Please give gitlab username to @BeatLink

[2019-05-10 21:04] brainscar commented on #125
Thank you @intika for all your hard work.

[2019-05-10 21:11] szepeviktor commented on #125
mine is the same as here https://gitlab.com/szepeviktor

[2019-05-11 07:08] shreyasminocha commented on #125
@BeatLink Mine's `shreyasminocha`. Thanks.

[2019-05-11 07:53] Serkan-devel commented on #125
What about the forked librefox repo though?
And why on Gitlab?

[2019-05-11 14:14] ghost commented on #125
I suspected that Mozilla is trying to becomes a very privacy conscious browser... with the **TOR Uplift project**... especially when there is money (Research Grants) involved... but this may not be it, even though it looks like their goals might overlap with this project.

https://www.ghacks.net/2019/05/09/firefox-might-get-a-super-private-browsing-mode-in-the-future/

Trademarks and logos issue i

[2019-05-11 14:24] Serkan-devel commented on #125
Could development still continue [here](https://github.com/Librefox/Librefox)?

[2019-05-11 17:50] ghost commented on #125
It is not a bad idea to have a GitLab mirror? (copy), just in case Github decides (is forced or asked) to block this project completely.

[2019-05-13 02:58] BeatLink commented on #125
So guys, do you want to develop on Gitlab or here https://github.com/Librefox/Librefox? Thumbs up this message for Gitlab, down for here. In any case, whichever decision we choose, we should probably rename to Librevixen ASAP, and remove the "fox" from the name, as I believe that's what causing the issue. Also, I think the issue is also due to the fact that in the the readme, we portray ourselves

[2019-05-13 05:27] Serkan-devel commented on #125
I'd switch to anything that doesn't want to place misspelled "freefap" as an icon on my desktop.
And even though I have a Gitlab account and can develop there, gitlab.com is just proprietary + freebait, hosted on Microsoft Azure (or they switched to google cloud already)

Gitlab.com blocked some blocklist-repo because the people on that list reported it, so it's not bulletproof either

[2019-05-13 14:32] ghost commented on #125
@BeatLink Excellent ideas on what could be causing the issue and how to fix them! I too remember the project feeling like "a modification of firefox"... when I first found out about it.

@Serkan-devel Yes, that is why some one needs to keep a copy offline as well.

[2019-05-13 17:59] Serkan-devel commented on #125
I guess one can just git clone it.

[2019-05-14 03:41] BeatLink commented on #125
So it's decided then? We'll continue development here (at least for now), on the fork that @shreyasminocha made. And if the worst comes to the worst, we can fall back on the Gitlab repository. So I'm going to go ahead and close this issue, so we can continue the discussion here: https://github.com/Librefox/Librefox/issues/1

[2019-05-14 18:08] BeatLink commented on #125
Sorry to reopen the issue once again, and sorry for the confusion, Because the fork is still on the organization with the name "Librefox", we had to create a completely new organization called librevixen. It can be found here https://github.com/librevixen. Just message me here or https://github.com/librevixen/LibreVixen/issues/1 so we can add you to the organization. I'll also leave this issue ope

[2019-05-16 02:26] elypter commented on #125
i am also not happy about a name which means to wank in german

[2019-06-02 09:00] jackTaw88 commented on #119
Browser privacy is most important thing on digital world. I am not expert developer so I can not help to develop this project but I can not figure out how people not helping this project.

Many extensions are ope source but the maintainers can put on firefox-extension-store with different source codes (example additional telemetry libraries...).

Here I open an issue: https://github.com/bijij/View

[2019-06-02 10:37] #124 closed, assigned to nobody

[2019-06-02 12:25] BeatLink commented on #125
Name's been changed to LibreWolf!

[2019-06-03 22:41] dimqua commented on #125
@BeatLink Why not move to GitLab or Gitea/Gogs instances like notabug.org?

[2019-06-04 21:38] BeatLink commented on #125
We were thinking of doing that in the future. Our core issue right now, is finding an online CI/CD or build system. Both travis and gitlab CI/CD have timeouts that expire before the build can be completed. Without an online build service, everyone would have to compile LibreWolf from scratch.

[2019-06-05 11:17] dimqua commented on #125
@BeatLink does building it from the source code have any benefits? Isn't it possible to just use [unbranded builds](https://wiki.mozilla.org/Add-ons/Extension_Signing#Unbranded_Builds) as a base?

[2019-06-06 00:19] BeatLink commented on #125
Those unbranded builds don't use our own naming scheme. The executable's name is still firefox and the profile folder it uses is still .mozilla, which might cause conflicts with an existing installation

[2019-06-10 01:47] dimqua commented on #125
You could rename the executable as you wish.

Yes, but it uses its own profile folder: ![](https://user-images.githubusercontent.com/540898/59167622-c8847a00-8b3a-11e9-9b7a-3d5baca599e3.png)

[2019-06-10 14:29] BeatLink commented on #125
Okay so I just downloaded it and tested it out.

Attempting to change the executable name results in:
Exec failed with error: No such file or directory

And while a separate profile is created, it is still in the ~/.mozilla/firefox folder. which is problematic because we want to get as far away from Mozilla's branding as possible and to not have it affect an existing install of firefox in anyway.

[2019-06-10 15:02] dimqua commented on #125
Do I understand correctly, that is (mostly) because of a possibility of potential legal threats?

[2019-06-11 03:17] BeatLink commented on #125
Yes. While I do not know the full details, i understand that the reason LibreFox originally went into a hiatus was some issues related to copyright. As a result, while we continue this fork in intika's absence, we will aim as much as possible to distance ourselves from Firefox's branding and existing installations, to minimize any possible complications. Incidentally, this is a community run conti

[2019-06-12 22:40] BeatLink commented on #125
We have moved to gitlab here, https://gitlab.com/librewolf-community, due to several benefits, but mainly that we have found a way to use their CI/CD system with runners on our personal machines to compile librewolf. See you over there!

[2019-06-13 01:07] dimqua commented on #125
@BeatLink are you able to build multiple versions for different platforms ATM?

[2019-06-13 15:43] BeatLink commented on #125
Just linux at the current moment

[2019-06-13 18:29] ELLIOTTCABLE commented on #123
I'm not sure if this is fixable with the current approach, but it's sure annoying.

As with the OP, I'm currently trying to decide if the added functionality is important enough to put up with the inherent limitations ;_;

[2019-06-13 18:33] ELLIOTTCABLE opened #126 "Breaks a ‘FireFox Colour’ theme, despite preferences"
I've selected “Other Theme” in the settings (might want to mention that this is necessary in the AMO page, by the way — I was surprised to find this extension even *had* settings, while I was writing up this Issue.), but the URL-bar-changing addon still disables the FireFox-Colour-theme I have selected.

With only all extensions except this extension Tree Style Tabs, and FireFox Colour disabled (t

[2019-06-18 11:16] r3pek commented on #125
@BeatLink
might be too late 'cause it looks like you're all settle there on gitlab, but i don't mind hosting it on my private gitea instance that has drone ci in it.

[2019-06-18 23:49] BeatLink commented on #125
Thank you for the offer! But yeah, you're right, we've just got settled on gitlab :).

If you're willing and able to, you can help us out by firing up a Gitlab runner for CI/CD! I could really use the help with compiling.

[2019-06-21 16:05] filips123 commented on #125
Why move to GitLab? This will create just more confusion and differences. You can also use some other CI/CD systems with GitHub.

[2019-06-21 21:45] BeatLink commented on #125
We moved to Gitlab mainly because it has an integrated CI/CD system that allowed us to build and test LibreWolf. This CI/CD system also allows us to setup CI environments on our own personal devices, which allowed us to solve an issue Github couldn't: Almost all the CI/CD systems on Github has job timeouts that would be too short for the compile times of librewolf. By using CI/CD setups on our own

[2019-06-21 21:49] filips123 commented on #125
But gitlab.com (which you currently use) is hosted on Google Cloud. This is same bad as Microsoft (or even worse). Could you run self-hosted instance but keep CI/CD system?

[2019-06-21 21:51] BeatLink commented on #125
We do not have the infrastructure to perform CI/CD builds much less run our own Gitlab instance. I do not see how an open source software running on a proprietary infrastructure is worse than a completely proprietary service owned and operated by microsoft.

[2019-06-21 21:58] filips123 commented on #125
It's not. It's still good if you can't run your own instance. I wanted to say that I would not trust Google anything more than Microsoft. Both of them are big USA corporations and both of them track users.

[2019-06-22 12:30] r3pek commented on #125
@BeatLink do you hang out on IRC or XMPP where we can actually chat about providing you a CI environment? ;)

[2019-06-22 20:15] BeatLink commented on #125
I do get on IRC sometimes. Where should we meet?

[2019-06-22 21:15] r3pek commented on #125
@BeatLink I'm on Freenode most of the time. Just drop me a query ;)

[2019-06-25 20:50] w3bb commented on #55
Excited to see this. We need our own version of ungoogled-chromium.

[2019-06-26 02:50] shreyasminocha commented on #55
@w3bb Development here seems to have halted, but we've forked this project and are continuing development at https://gitlab.com/librewolf-community/librewolf.

[2019-06-26 02:56] androidacy-user commented on #55
So sad to see this project abandoned.... But it sure seems that way

[2019-07-04 22:45] theel0ja commented on #125
You can use Gitlab CI on your own instance, but you need to provide the nodes yourself.

[2019-07-14 04:26] shreyasminocha commented on #119
We're maintaining a LibreFox fork, [LibreWolf](https://gitlab.com/librewolf-community/librewolf), over on GitLab. At the moment we have alpha builds for some linux distros, but we're still working towards an initial release. We're taking a more community-focused approach to development so we can avoid LibreFox's fate. Feel free to help out—browser dev, web dev, documentation… whatever you can cont

[2019-07-16 15:54] Milliw opened #127 "Middle mouse button not working to fast scroll"
When using Librefox my middle mouse button is not working as before.
Scrolling by using the wheel works, but pressing it doesn´t work anymore. Before I was able to scroll fast up and down on large sites.

[2019-11-30 01:05] #30 closed

[2020-01-15 09:37] ghost opened #130 "This silence is deafening. Is it now the right time to start making up conspiracy theories? lol"
@intika can you please at least tell us when you'll probably have some info to share with us? THANK YOU :heart:

[2020-01-15 10:41] shreyasminocha commented on #130
Or at least archive the repo.

[2020-01-15 15:45] XeonG commented on #125
Any active download releases for LibreWolf, seems the Gitlab pages are even worse to navigate and find anything than GitHub

[2020-02-01 11:31] ghost commented on #130
@intika please tell us something about the current state of the project, we know you're [active](https://github.com/nextcloud/server/pull/18963) on github (last time - january 2020) so why not drop a few words here please?

[2020-02-01 12:41] shreyasminocha commented on #130
It's been over a year since the [last commit](https://github.com/intika/Librefox/commit/45a4d3ce647b8c896e81ce3e5ac5ddc95ff045e0) to this repo.

<img src="https://user-images.githubusercontent.com/11537232/73591831-8eae1c80-44eb-11ea-86f1-ec34595d39e0.jpg" alt="Calendar notification saying: One year since last commit on LibreFox" width="350"/>

3 February, 2020 will be the one-year anniversary of

[2020-02-01 14:46] AnXh3L0 commented on #130
@shreyasminocha I haven't had any sort of contact whatsoever with Intika since the meeting at FOSDEM last year. I will not be at FOSDEM this year so that's kinda it I guess.

[2020-02-01 21:37] Rik44444 commented on #62
hi just to say this 'all-in-one' addon would be v welcome. for a mainstream user like me, there is just too many addons in this area to keep track of! If i could have 1 addon that does it all that would be fantastic.

[2020-02-02 07:21] Rik44444 opened #131 "proposal for combining with Fennec"
Hi all, thank you for your great work on this project. I posted earlier that i would be a big fan of a 'one to rule them all' firefox privacy addon or even special Librefox download. This is a request to also combine that with the work done for Fennec: https://f-droid.org/en/packages/org.mozilla.fennec_fdroid/
For this app on Android, all the proprietary components are removed from Firefox, making

[2020-02-16 19:56] drtechno1971 opened #132 "Disable insertion of <META> and Html form elements in Inspector"
Please disable the use of inserting new meta tags and html form elements and attributes into a web page on the Inspector section of Web Developer. This has been observed on how certain attack vectors is applied to hack websites.

[2020-03-04 17:15] 35609902357 opened #133 "Disable HTTP Watcher for .onion domains"
.onion domains are encrypted by default so they are secure without https

[2020-03-10 14:52] shreyasminocha commented on #125
@XeonG This is slightly late, but check the [Releases](https://gitlab.com/librewolf-community/browser/linux/-/releases) tab on the GitLab repo. We now have some preliminary releases thanks to [@/ohfp](https://gitlab.com/ohfp). The download button on https://librewolf-community.gitlab.io now works too.

[v73.0.1-1](https://gitlab.com/librewolf-community/browser/linux/-/releases/v73.0.1-1) is the la

[2020-04-03 01:25] James-E-A commented on #106
Preemptive counterargument to the only other anti-ESNI argument I've heard:

The browser's duty is to protect the user from attackers. TLS "interferes" with 90% of dpi, ESNI shores that up by another 5% or so.

If it becomes common practice for cafes to terminate all ESNI connections, I'm sure it would be straightforward enough to pop up some info (either in the style of TLS-error or captive-hotsp

[2020-06-16 00:21] Dworkinn opened #134 "Firefox Multi-Account Containers is not working with Librefox"
Hi.
If install Firefox Multi-Account Containers in Firefox - it's working
After that i unzip Librefox in Firefox folder and Firefox Multi-Account Containers - not working
I see only this
![image](https://user-images.githubusercontent.com/32653455/84718082-6dbd0400-af80-11ea-8c31-e73a6b8a9b9f.png)

Firefox version 77.0.1 (64-bit)

[2020-12-05 20:45] Ojjjjjlol opened #135 "doesn't work console"
something in mozilla.cfg is breaking console
do you know what is it?

[2021-01-26 04:56] Justasic opened #136 "Undoing prompt to deny extension installation"
Hello, while I was installing some additional extensions I misclicked and clicked on "don't allow" to the prompt asking if I want to allow extensions to be installed from addons.mozilla.org. I have since been unable to undo this setting as I cannot find it anywhere. I have tried looking in the site settings, extension settings, and even in about:config but don't see the setting anywhere obvious.

[2021-01-26 04:58] Justasic commented on #136
nvm it was uMatrix, sorry for the false report I'm just not very bright :sweat_smile:

[2021-01-26 04:58] #136 closed, assigned to nobody

[2021-02-03 12:29] loker32 opened #137 "general/startup/(restore previous session)=true no work"
about:config/browser.startup.page/value=3
mozilla.cfg/lockPref("browser.startup.page", 3);
windows10ltsc
i restarted browser

[2021-02-06 04:42] jill-barber opened #138 "when will librefox will be available to BSD's?"

[2021-02-20 00:10] meemo commented on #138
https://github.com/intika/Librefox/issues/125

[2021-02-21 10:35] subnut commented on #125
@shreyasminocha How about keeping a mirror on codeberg.org?

Since we are currently unable to host git ourselves, I think we should host the project on a community-owned website (e.g. codeberg, notabug, framagit, etc.) instead of GitLab (due to the concerns other users have mentioned above)

[2021-04-19 08:59] travelg opened #141 "is this project still maintained? last relase is 3 years old"
is this project still maintained? last release is 3 years old
Thanks

[2021-08-01 09:43] StoppingBuck commented on #141
@travelg Nope, it's dead. The community-maintained active fork is https://librewolf-community.gitlab.io/

[2022-10-04 01:38] jamesta696 opened #142 "Unable to use Accessibility Inspector in Developer Tools"
Hi,

I'm testing some developments for Web Accessibility and I'm unable to use the Accessibility Inspector. I've tried certain steps listed here but it isn't working: https://firefox-source-docs.mozilla.org/devtools-user/accessibility_inspector/

![image](https://user-images.githubusercontent.com/14171094/193715930-37deec36-4e62-41ca-ab8f-09cd57dbc6a9.png)

When testing this in regular Firefox it

[2022-10-04 01:39] jamesta696 commented on #142
Wrong Repo. Sorry

[2022-10-04 01:39] #142 closed, assigned to nobody